<app-spinner filterBy="project"></app-spinner>

<ng-container *ngIf="project">
  <h2><small class="text-muted">{{'project.bake.fill_info' | translate}}</small></h2>
<mat-dialog-content>
  <mat-horizontal-stepper (selectionChange)="stepChanged($event)" [linear]="true" #stepper >
    <mat-step [stepControl]="giftedSumForm"  [optional]="true">
      <h3><small class="text-muted">  {{'project.bake.info_sum' | translate}}</small></h3>
      <form [formGroup]="giftedSumForm">
        <ng-template matStepLabel>{{'project.bake.gifted_sum' | translate}}</ng-template>
        <mat-form-field class="w-100">
          <mat-label>{{'project.bake.gifted_sum_choose' | translate}}</mat-label>
          <mat-select formControlName="sum"  (selectionChange)="giftSelected($event)">
            <mat-option *ngFor="let gift of project.gifts;index as i" [value]="i">
              <h2><small class="text-muted">{{gift.sum}} {{gift.description}}</small></h2>
            </mat-option>
          </mat-select>
        </mat-form-field>
        {{(gift)? gift.description:''}}


      </form>
    </mat-step>

    <mat-step [stepControl]="customSumForm">
      <h3><small class="text-muted">  {{'project.bake.info_custom_sum' | translate}}</small></h3>

      <form [formGroup]="customSumForm">
        <ng-template matStepLabel>{{'project.bake.custom_sum' | translate}}</ng-template>
        <mat-form-field class="w-100">
          <mat-label>{{'project.bake.custom_sum_provide' | translate}}</mat-label>
          <input matInput placeholder="500" type="number" formControlName="sum" >
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>{{'next' | translate}}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="infoForm">
      <h3><small class="text-muted">  {{'project.bake.info_data' | translate}}</small></h3>

      <form [formGroup]="infoForm">
        <ng-template matStepLabel>{{'project.bake.info.text' | translate}}</ng-template>
        <mat-form-field class="w-100">
          <mat-label>{{'project.bake.info.firstname' | translate}}</mat-label>
          <input matInput placeholder="{{'project.bake.info.firstname' | translate}}" formControlName="firstname" required>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>{{'project.bake.info.lastname' | translate}}</mat-label>
          <input matInput placeholder="{{'project.bake.info.lastname' | translate}}" formControlName="lastname" required>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>{{'project.bake.info.phone' | translate}}</mat-label>
          <input matInput placeholder="{{'project.bake.info.phone' | translate}}" formControlName="phone_number" required>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>{{'project.bake.info.email' | translate}}</mat-label>
          <input matInput placeholder="{{'project.bake.info.email' | translate}}" formControlName="email" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>{{'back' | translate}}</button>
          <button mat-button matStepperNext>{{'next' | translate}}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paymentType">
      <h3><small class="text-muted">  {{'project.bake.info_payment_service' | translate}}</small></h3>

      <form [formGroup]="paymentType">
        <ng-template matStepLabel>{{'project.bake.payment_type' | translate}}</ng-template>
        <mat-radio-group aria-label="Select an option" formControlName="type">
          <mat-radio-button value="2" ><img src="../../../../../../assets/images/kaspi.png"></mat-radio-button>
          <mat-radio-button value="3"  class="ml-2"><img src="../../../../../../assets/images/cloudpayments.jpg"></mat-radio-button>
<!--          <mat-radio-button value="1" class="ml-2">Epay, Народный Банк</mat-radio-button>-->

        </mat-radio-group>
        <div>
          <button mat-button matStepperNext>{{'next' | translate}}</button>
        </div>

      </form>
    </mat-step>
    <mat-step>
      <h3><small class="text-muted">  {{'project.bake.info_payment' | translate}}</small></h3>
      <ng-template matStepLabel>{{'project.bake.done' | translate}}</ng-template>
      <button *ngIf="paymentType.controls.type.value!=2" class="btn btn-start-time btn-lg" (click)="onSubmit()" mat-dialog-close>{{'project.bake.order' | translate}}</button>
      <form *ngIf="paymentType.controls.type.value==2"  target="_blank" ngNoForm  action="https://kaspi.kz/online?idc=232" method="POST"
              autocomplete="off">
        <input type="hidden" name="OrderId" [value]="kaspiOrderId">
        <input type="hidden" name="TranId" [value]="kaspiOrderId">
        <input type="hidden" name="Amount" [value]="kaspiSum">
        <input type="hidden" name="Service" value="TSCharity">
        <input type="hidden" name="returnUrl" value="https://start-time.kz/result">
        <button class="btn btn-start-time btn-lg" type="submit" mat-dialog-close>{{'project.bake.order' | translate}}</button>
      </form>
      <div>
        <button mat-button matStepperPrevious>{{'back' | translate}}</button>
        <button mat-button (click)="stepper.reset()">{{'reset' | translate}}</button>
      </div>

    </mat-step>
  </mat-horizontal-stepper>



</mat-dialog-content>

</ng-container>
