<app-spinner filterBy="project"></app-spinner>
<ng-container *ngIf="project">
  <h2><small class="text-muted">{{'project.bake.fill_info' | translate}}</small></h2>
<mat-dialog-content class="p-0" >
  <mat-vertical-stepper   [linear]="false" #stepper >
        <mat-step *ngIf="!pay">
          <ng-template matStepLabel>{{'project.bake.sum' | translate}}</ng-template>
          <h2 class="text-muted text-center">  {{'project.bake.info_custom_sum' | translate}}</h2>
          <hr/>
          <div class="row justify-content-start">
            <div class="col-12">
              <h2><small>{{'project.bake.gifted_sum_choose' | translate}}</small></h2>
                <mat-label class="text-muted">{{'choose'|translate}}</mat-label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="giftIndex">
                <mat-radio-button  color="primary" [value]="i" (change)="giftSelected($event)" *ngFor="let gift of project.gifts; index as i">
                  <h2><small style="white-space: normal" class="text-muted">₸{{gift.sum}} - {{gift.description}}</small></h2>
                  <hr/>
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="col-12">
              <h2 class="text-muted text-center">{{'or'|translate}}</h2>
            </div>
            <div class="col-12">
              <h2><small>{{'project.bake.custom_sum_provide' | translate}}</small></h2>

              <mat-form-field class="w-100">
                <mat-label>{{'type'|translate}}</mat-label>
                <input matInput placeholder="500" type="number" [(ngModel)]="sum" >
              </mat-form-field>

            </div>

          </div>

        </mat-step>

        <mat-step  *ngIf="!pay">

          <h3><small class="text-muted">  {{'project.bake.info_data' | translate}}</small></h3>

            <ng-template matStepLabel>{{'project.bake.info.text' | translate}}</ng-template>
            <mat-form-field class="w-100">
              <mat-label>{{'project.bake.info.firstname' | translate}}</mat-label>
              <input matInput placeholder="{{'project.bake.info.firstname' | translate}}" [(ngModel)]="firstname" required>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>{{'project.bake.info.lastname' | translate}}</mat-label>
              <input matInput placeholder="{{'project.bake.info.lastname' | translate}}" [(ngModel)]="lastname" required>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>{{'project.bake.info.phone' | translate}}</mat-label>
              <input matInput placeholder="{{'project.bake.info.phone' | translate}}" [(ngModel)]="phone_number" required>
            </mat-form-field>

        </mat-step>
<!--        <mat-step *ngIf="!pay">-->

<!--          <h3><small class="text-muted">  {{'project.bake.info_payment_service' | translate}}</small></h3>-->

<!--            <ng-template matStepLabel>{{'project.bake.payment_type' | translate}}</ng-template>-->
<!--            <mat-radio-group aria-label="Select an option" [(ngModel)]="paymentType">-->
<!--&lt;!&ndash;              <mat-radio-button value="2" ><img style="max-width: 100%; max-height: 100%;" src="../../../../../../assets/images/kaspi.png"></mat-radio-button>&ndash;&gt;-->
<!--              <mat-radio-button value="3"  class="mt-4 ml-md-5"><img style="max-width: 100%; max-height: 10%" src="../../../../../../assets/images/cloudpayments.jpg"></mat-radio-button>-->
<!--    &lt;!&ndash;          <mat-radio-button value="1" class="ml-2">Epay, Народный Банк</mat-radio-button>&ndash;&gt;-->

<!--            </mat-radio-group>-->

<!--        </mat-step>-->
          <mat-step *ngIf="!pay">
            <div class="template-demo">

            <h3 class="text-muted">
              {{'project.bake.info.firstname' | translate}}: {{firstname}}
            </h3>
            <h3 class="text-muted">
              {{'project.bake.info.lastname' | translate}}: {{lastname}}
            </h3>
            <h3 class="text-muted">
              {{'project.bake.info.phone' | translate}}: {{phone_number}}
            </h3>
            <h3 class="text-muted">
              {{'project.bake.sum' | translate}}: ₸{{sum}}
            </h3>
            <h3 class="text-muted">
              {{'gift'|translate}}:{{(hasGift())?gift.description:'no'|translate}}
            </h3>
            <button mat-dialog-close [disabled]="firstname==null||lastname==null||phone_number==null||firstname===''||lastname===''||phone_number===''||sum==0" class="btn btn-start-time btn-lg ml-auto" (click)="createOrder()" >{{'accept' | translate}}</button>
            </div>
        </mat-step>
<!--        <mat-step *ngIf="pay">-->
<!--          <h3><small class="text-muted">  {{'project.bake.info_payment' | translate}}</small></h3>-->
<!--          <ng-template matStepLabel>{{'project.bake.done' | translate}}</ng-template>-->
<!--          <button *ngIf="paymentType!=2"  class="btn btn-start-time btn-lg"  mat-dialog-close>{{'project.bake.order' | translate}}</button>-->
<!--&lt;!&ndash;          <form *ngIf="paymentType==2"  target="_blank" ngNoForm  action="https://kaspi.kz/online?idc=232" method="POST"&ndash;&gt;-->
<!--&lt;!&ndash;                  autocomplete="off">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="hidden" name="OrderId" [value]="order.id">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="hidden" name="TranId" [value]="order.id">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="hidden" name="Amount" [value]="order.sum*100">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="hidden" name="Service" value="TSCharity">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="hidden" name="returnUrl" value="https://start-time.kz/result">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="btn btn-start-time btn-lg" type="submit" mat-dialog-close>{{'project.bake.order' | translate}}</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </form>&ndash;&gt;-->
<!--          <div>-->
<!--            <button mat-button matStepperPrevious>{{'back' | translate}}</button>-->
<!--            <button mat-button (click)="stepper.reset()">{{'reset' | translate}}</button>-->
<!--          </div>-->
<!--        </mat-step>-->

  </mat-vertical-stepper>



</mat-dialog-content>

</ng-container>
