<app-spinner filterBy="project"></app-spinner>
<ng-container *ngIf="project">
      <h2 class="text-muted text-center info-pc">
        {{((step==1) ? 'project.bake.info_sum' :  'project.bake.info_data' ) | translate}}
      </h2>
      <p class="text-muted text-center info-mob">
        {{((step==1) ? 'project.bake.info_sum' : 'project.bake.info_data') | translate}}
      </p>
  <hr/>
  <mat-dialog-content  >

          <div class="row justify-content-center" *ngIf="step==1">
            <div class="col-10 card border-0  grid-margin">
              <button (click)="changeStepAndSum(2, null)" class="btn text-light" style="background-color: rgba(0,177,130,1)" >{{'unpayedBake'|translate}}</button>

            </div>

            <div class="col-md-10 col-lg-10 col-10 card border-0  grid-margin" *ngFor="let gift of project.gifts; index as i">
              <button (click)="changeStepAndSum(2, gift)"   style="text-overflow:ellipsis;white-space: nowrap;overflow: hidden"  class="btn btn-outline-starttime ">₸{{gift.sum}} {{gift.description}}</button>
            </div>
          </div>

          <div *ngIf="step==2">
            <mat-form-field class="w-100">
              <mat-label>{{'project.bake.info.firstname' | translate}}</mat-label>
              <input matInput placeholder="{{'project.bake.info.firstname' | translate}}" [(ngModel)]="user.firstname" required>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>{{'project.bake.info.lastname' | translate}}</mat-label>
              <input matInput placeholder="{{'project.bake.info.lastname' | translate}}" [(ngModel)]="user.lastname" required>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>{{'project.bake.info.phone' | translate}}</mat-label>
              <input type="email" matInput placeholder="{{'project.bake.info.phone' | translate}}" [(ngModel)]="user.phone_number" required>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>{{'project.bake.info.email' | translate}}</mat-label>
              <input matInput placeholder="{{'project.bake.info.email' | translate}}" [(ngModel)]="user.email" required>
            </mat-form-field>
            <div class="rounded-lg p-3" style="border:1px solid #009E74;" *ngIf="!gift">
              <h2><small>{{'project.bake.custom_sum_provide' | translate}}</small></h2>

              <mat-form-field class="w-100">
                <mat-label>{{'type'|translate}}</mat-label>
                <input matInput placeholder="500" type="number" [(ngModel)]="sum" >
              </mat-form-field>
            </div>
            <div class="template-demo">

              <h3 class="text-muted">
                {{'project.bake.info.firstname' | translate}}: {{user.firstname}}
              </h3>
              <h3 class="text-muted">
                {{'project.bake.info.lastname' | translate}}: {{user.lastname}}
              </h3>
              <h3 class="text-muted">
                {{'project.bake.info.phone' | translate}}: {{user.phone_number}}
              </h3>
              <h3 class="text-muted">
                {{'project.bake.sum' | translate}}: ₸{{sum}}
              </h3>
              <h3 class="text-muted">
                {{'gift'|translate}}:{{(hasGift())?gift.description:'no'|translate}}
              </h3>
              <p class="text-muted"><mat-checkbox class="m-3" [(ngModel)]="checked"> </mat-checkbox>{{'agreement'|translate}}</p>


              <div class="text-right">
                <button mat-dialog-close [disabled]="(!checked)||user.firstname==''|| user.lastname==''||user.phone_number==''|| user.firstname==null||user.lastname==null||user.phone_number==null||sum==0||sum==null||user.email==''||user.email==null" class="btn btn-start-time btn-lg ml-auto" (click)="createOrder()" ngbTooltip="{{'accept'|translate}}">{{'accept' | translate}}</button>

              </div>
            </div>

          </div>


    <div ><button class="btn btn-light" *ngIf="step!=1" (click)="changeStep((step==2)? 1 : 2)" matTooltip="{{'back'|translate}}">{{'back' | translate}}</button></div>

  </mat-dialog-content>
</ng-container>
