<div class="row justify-content-center ">
  <div class="col-10 border rounded-lg shadow p-md-3">
    <p class="text-right "><i class="ml-md-2 fas fa-edit"></i></p>
    <h5 class="mt-md-3">Biography</h5>
    <hr/>
    <p>Biography starts here</p>
    <p></p>
    <p></p>
    <p></p>
    <div class="row justify-content-center mt-md-5 mb-md-2">
      <div class="col-6 ">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Phone number</span>
          </div>
          <input type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-default">
        </div>

      </div>
      <div class="col-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-defaul">Firstname</span>
          </div>
          <input type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-defaul">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-defau">Lastname</span>
          </div>
          <input type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-defau">
        </div>
      </div>
    </div>

    <hr/>

    <div class="form-row justify-content-center mt-md-5 mb-md-4">
      <div class="input-group mb-3 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-def">Email</span>
        </div>
        <input type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-def">
      </div>

      <div class="input-group mb-3 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing">Password</span>
        </div>
        <input type="password" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing">

      </div>
    </div>
  </div>
</div>


