
<div class="row justify-content-center ">
  <div class="col-10 border rounded-lg ">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="userForm">
        <p class="text-right ">

          <button mat-icon-button aria-label="Example icon button with a heart icon" class="ml-auto">
            <mat-icon *ngIf="!update" (click)="edit()">border_color</mat-icon>
            <mat-icon  *ngIf="update" (click)="save()"> check_circle_outline</mat-icon>

          </button>
        </p>

          <h1 class="display-5">Biography</h1>
          <mat-form-field class="example-full-width w-100">
            <mat-label ></mat-label>
            <textarea matInput  formControlName="biography"></textarea>
          </mat-form-field>
        <div class="row justify-content-center mt-md-5 mb-md-2">
          <div class="col-6 ">
            <mat-form-field class="example-full-width w-100">
              <mat-label class="display-5">Firstname</mat-label>
              <input matInput  formControlName="firstname">
            </mat-form-field>
            <mat-form-field class="example-full-width w-100">
              <mat-label class="display-5">Lastname</mat-label>
              <input matInput  formControlName="lastname">
            </mat-form-field>


          </div>
          <div class="col-6">
            <mat-form-field class="example-full-width w-100">
              <mat-label class="display-5">Email</mat-label>
              <input matInput  formControlName="email">
            </mat-form-field>
            <mat-form-field class="example-full-width w-100">
              <mat-label class="display-5">Phone number</mat-label>
              <input matInput  formControlName="phone_number">
            </mat-form-field>
          </div>
        </div>

        </form>
      </div>
    </div>

  </div>
</div>


