


<div class=" row justify-content-center mt-3">

  <div class="col-md-10 col-11 grid-margin stretch-card ">
    <div class="card">
      <div class="card-body p-2 p-md-4">
        <h2 class="display-5">
          {{(translate.currentLang == 'rus') ? project.title_rus : (translate.currentLang == 'eng') ? project.title_eng : project.title_kz}}</h2>

        <div id="toAppend" class="mce-content-body"
          [innerHTML]="(translate.currentLang == 'rus') ? transformYourHtml(project.content_rus) : (translate.currentLang == 'eng') ? transformYourHtml(project.content_eng) : transformYourHtml(project.content_kz)"> </div>

      </div></div>
  </div>
</div>


