<div class="row justify-content-center">
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card ">
      <div class="card-body">
        <hr class="m-md-5 m-sm-5 m-lg-5"/>

        <h2 class="mb-md-4 mb-lg-5 text-center mb-sm-4 text-start-time">
          <img src="../../../../assets/images/43_0.png" width="50px" height="50px">
          {{'about.1' | translate}}</h2>

        <p> {{'about.2' | translate}}
        </p>

        <h3 class="text-start-time">{{'about.3' | translate}}</h3>

        <p>{{'about.4' | translate}}</p>
        <h3 class="text-start-time">{{'about.5' | translate}}</h3>

        <p>{{'about.6' | translate}}</p>
        <ul>
          <li>
            {{'about.7' | translate}}
          </li>
          <li>
            {{'about.8' | translate}}
          </li>

          <li>
            {{'about.9' | translate}}
          </li>

          <li>
            {{'about.10' | translate}}
          </li>
        </ul>




        <h3 class="text-start-time">{{'about.11' | translate}}</h3>

        <p>{{'about.12' | translate}}</p>
        <ul>

          <li>
            {{'about.13' | translate}}
          </li>
          <li>
            {{'about.14' | translate}}
          </li>

          <li>
            {{'about.15' | translate}}
          </li>
        </ul>



        <h3 class="text-start-time">{{'about.16' | translate}}</h3>

        <ul>
          <li>
            {{'about.17' | translate}}
          </li>
          <li>
            {{'about.18' | translate}}
          </li>
          <li>
            {{'about.19' | translate}}
          </li>
        </ul>


        <hr class="m-md-5 m-sm-5 m-lg-5"/>

      </div>
    </div>
  </div>
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card ">
      <div class="card-body">
        <hr class="m-md-5 m-sm-5 m-lg-5"/>

        <h2 class="mb-md-4 mb-lg-5 mb-sm-4 text-start-time text-center">
          <img src="../../../../assets/images/43_0.png" width="50px" height="50px">

          {{'about.20' | translate}}</h2>

        <h3 class="text-start-time">{{'about.20' | translate}}</h3>

        <p>{{'about.21' | translate}}</p>
        <p>{{'about.22' | translate}}</p>

        <h3 class="text-start-time">{{'about.23' | translate}}
        </h3>
        <p>{{'about.24' | translate}}</p>
        <ul>

          <li>
            {{'about.25' | translate}}
          </li>

          <li>

            {{'about.26' | translate}}
          </li>

          <li>
            {{'about.27' | translate}}
          </li>

          <li>
            {{'about.28' | translate}}
          </li>

          <li>

            {{'about.29' | translate}}
          </li>
        </ul>


        <hr class="m-md-5 m-sm-5 m-lg-5"/>

      </div>
    </div>
  </div>
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card ">
      <div class="card-body">
        <hr class="m-md-5 m-sm-5 m-lg-5"/>

        <h2 class="mb-md-4 mb-lg-5 mb-sm-4 text-center text-start-time" >
          <img src="../../../../assets/images/43_0.png" width="50px" height="50px">

          {{'about.30' | translate}}
        </h2>
        <p>{{'about.31' | translate}}</p>

        <hr class="m-md-5 m-sm-5 m-lg-5"/>

      </div>
    </div>
  </div>
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card ">
      <div class="card-body">
        <hr class="m-md-5 m-sm-5 m-lg-5"/>

        <h2 class="mb-md-4 mb-lg-5 mb-sm-4 text-center text-start-time">
          <img src="../../../../assets/images/43_0.png" width="50px" height="50px">

          {{'about.32' | translate}}
        </h2>
        <p>{{'about.33' | translate}}</p>
        <hr class="m-md-5 m-sm-5 m-lg-5"/>

      </div>
    </div>
  </div>
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card ">
      <div class="card-body">
        <hr class="m-md-5 m-sm-5 m-lg-5"/>

        <h2 class="mb-md-4 mb-lg-5 mb-sm-4 text-center text-start-time">
          <img src="../../../../assets/images/43_0.png" width="50px" height="50px">

          {{'about.34' | translate}}</h2>

        <p>{{'about.35' | translate}}
        </p>
        <ul>

          <li>
            {{'about.36' | translate}}

          </li>
          <li>
            <a href="https://start-time.kz/about/agreements/dogovor-publichnoj-ofertyi-s-avtorom-proekta">{{'about.37' | translate}}</a>
          </li>
        </ul>

        <h5>{{'about.38' | translate}}
        </h5>
        <p>{{'about.39' | translate}}</p>
        <h5>{{'about.40' | translate}}
        </h5>
        <p>{{'about.41' | translate}}</p>
        <hr class="m-md-5 m-sm-5 m-lg-5"/>


      </div>
    </div>
  </div>

</div>

