<div class=" container-fluid  mb-md-5">
  <div class="row justify-content-center mt-md-5">
    <div class="col-6 border rounded-lg p-5 shadow">

      <div class="form-row justify-content-center">
        <div class="input-group mb-3 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
          </div>
          <input type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-defaul">Category</span>
          </div>
          <select id="inputState" class="form-control" aria-describedby="inputGroup-sizing-defaul">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>

      <div class="row justify-content-center hr mt-3">
        <div class="col-md-6 ">
          <hr class="border"/>

        </div>

      </div>

      <div>
          <label for="exampleFormControlTextarea1">Brief description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>

      <div class="row justify-content-center hr mt-4 mb-4">
        <div class="col-md-6">
          <hr class="border"/>

        </div>

      </div>

      <div class="form-row justify-content-center">
        <div class="input-group mb-3 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-defa">Deadline</span>
          </div>
          <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
        </div>
        <div class="input-group mb-3 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-def">Sum</span>
          </div>
          <input type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-def">
        </div>


      </div>

      <div class="row justify-content-center hr mt-4 md-4">
        <div class="col-md-6">
          <hr class="border"/>

        </div>

      </div>

      <div>
            <p>Content</p>
              <textarea id="full-featured-non-premium">

              </textarea>

        </div>

      <div class="row justify-content-center hr mt-4 mb-4">
        <div class="col-md-6">
          <hr class="border"/>

        </div>

      </div>

      <div class="form-row justify-content-center mt-md-3">
        <div class="input-group mb-3 col ">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"
                   aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
          </div>
        </div>
        <div class="input-group mb-3 col">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-de">Video</span>
          </div>
          <input type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-de">
        </div>



      </div>

      <div class="row justify-content-center hr mt-4 mb-4">
        <div class="col-md-6">
          <hr class="border"/>

        </div>

      </div>

      <div class="border rounded-lg p-4 shadow">
        <p>Reward</p>
        <div class="form-row justify-content-center">
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-d">Sum</span>
            </div>
            <input type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-d">
          </div>
          <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing">Description</span>
            </div>
            <input type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing">
          </div>


        </div>

        <div class="row justify-content-center">
          <div class="col-md-9">
            <table class="table mt-md-3 ">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sum</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td>50tg</td>
                <td>Otto</td>
                <td><i class="fas fa-trash"></i><i class="ml-md-2 fas fa-edit"></i></td>
              </tr>

              </tbody>
            </table>

          </div>

        </div>


      </div>

      <div class="text-right mt-md-5">
        <button class="btn w-25 btn-lg bg-sss text-light">Save</button>
      </div>







    </div>
  </div>
</div>





