
<ng-container>
<div class="row">
  <div class="col-md-11 grid-margin stretch-card">

    <div class="card">
      <div class="card-body p-2 p-md-4">
        <h4 class="card-title">Вклады Проектов</h4>
        <p class="text-warning">{{message}}</p>
        <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button [matMenuTriggerFor]="chooseFilter" class="btn bg-sss text-white">
                      Выбрать фильтр
                    </button>
                    <mat-menu #chooseFilter="matMenu">
                      <button mat-menu-item [matMenuTriggerFor]="owner">Пользователь</button>
                      <button mat-menu-item (click)="changeFilter('created_at')">Дата</button>
                      <button mat-menu-item (click)="changeFilter('id')">ID Заказа</button>
                      <button mat-menu-item (click)="changeFilter('project_id')">ID Проекта</button>

                    </mat-menu>
                    <mat-menu #owner="matMenu">
                      <button mat-menu-item (click)="changeFilter('fullname')">Имя</button>
                      <button mat-menu-item (click)="changeFilter('email')">Почта</button>
                      <button mat-menu-item (click)="changeFilter('phone_number')">Телефон</button>
                    </mat-menu>
                  </div>
                  <input [(ngModel)]="text" #input id="input" type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>
              </div>
            </div>
          <div class="col-md-3 col-6">
            <div class="btn-group">
              <button [matMenuTriggerFor]="chooseBank" class="btn bg-sss text-white">
                Выбрать Банк
              </button>
              <mat-menu #chooseBank="matMenu">
                <button mat-menu-item (click)="filterByBank(1)">Epay</button>
                <button mat-menu-item (click)="filterByBank(2)">Kaspi</button>
                <button mat-menu-item (click)="filterByBank(3)">Cloud</button>
              </mat-menu>
            </div>
          </div>
          <div class="col-md-3 text-right col-6">
            <button (click)="removeFilters()" type="button" class="btn btn-danger btn-rounded btn-icon" matTooltip="Убрать фильтры">
              <i class="mdi mdi-delete"></i>
            </button>
          </div>

        </div>
        <app-spinner filterBy="bakers/all"></app-spinner>
        <app-spinner filterBy="excel"></app-spinner>
        <app-spinner filterBy="filter"></app-spinner>
        <table class="table table-hover table-responsive table-responsive-sm table-responsive-xl" *ngIf="bakeInformation">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Почта</th>
            <th scope="col">Телефон</th>
            <th scope="col">Проект</th>
            <th scope="col">Банк</th>
            <th scope="col">Сумма</th>
            <th scope="col">Дата</th>
            <th scope="col">Вознаграждение</th>
            <th scope="col">Статус</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let bake of bakeInformation;index as i">
            <td>{{bake.id}}</td>
            <td scope="row">
              <a *ngIf="bake.user" style="color:inherit" target="_blank" class="paddingDiv" [routerLink]="['/userProfile',bake.user_id]">{{bake.user.fullname}}</a>
              <p *ngIf="!bake.user">{{bake.fullname}}</p>
            </td>
            <td>
              <p *ngIf="bake.user">{{bake.user.email}}</p>
              <p *ngIf="!bake.user">{{bake.email}}</p>
            </td>
            <td >
              <p *ngIf="bake.user">{{bake.user.phone_number}}</p>
              <p *ngIf="!bake.user">{{bake.phone_number}}</p>
            </td>
            <td><a style="color:inherit" target="_blank" [routerLink]="['/project/details', bake.project_id]">
              {{bake.project_title}}
            </a></td>
              <td>{{(bake.payment) ? bake.payment.bank.name : ''}}</td>
              <td>{{ (bake.payment) ? bake.payment.sum : ''}}</td>
            <td>{{editFormat(bake.created_at)}}</td>
            <td>
              <p *ngIf="bake.gift">{{ bake.gift.description }}</p>
              <p *ngIf="!bake.gift">Вознаграждения нет</p>
            </td>
            <td> <button class="btn btn-light" (click)="changeStatus(bake)">{{bake.confirmed}}</button></td>

          </tr>
          </tbody>
        </table>
      </div>
      <ngb-pagination class="d-flex justify-content-end mr-md-2" (pageChange)="changePage($event)" [ellipses]="true"  [collectionSize]="totalBakersCount" maxSize="5" [(page)]="page" [pageSize]="perPageCount" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

    </div>
  </div>

</div>
</ng-container>
