<app-spinner filterBy="category/all"></app-spinner>
<ng-container *ngIf="categories">
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Projects categories</h4>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-primary text-white">Search by name</span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

              </div>
            </div>

          </div>
          <div class="col-lg-6 text-right">
            <button type="button" class="btn btn-inverse-info btn-icon">
              <i class="mdi mdi-plus"></i>
            </button>
          </div>
        </div>
        <div class="table-responsive table-hover">
          <div id="recent-purchases-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="recent-purchases-listing" class="table dataTable no-footer" role="grid">
            <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 105.4px;">Category</th>
              <th class="sorting_asc" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 105.4px;">Projects number</th>
              <th  style="width: 80.4px;">Action</th>
            </tr>
            </thead>
            <tbody>


            <tr *ngFor="let category of categories">
              <td class="sorting_1"><label ><a target="_blank" style="color: inherit" [routerLink]="['/category', category.id]">
                {{category.name}}
              </a></label></td>
              <td class="text-danger"> {{category.projects.length}}</td>
              <td > <i class="fas fa-edit mr-3"></i> <i class="fas fa-trash"></i></td>
            </tr>

      </tbody>
          </table></div></div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"></div></div></div>
        </div>


      </div>
    </div>
  </div>

</div>
</ng-container>
<div>
  <ngb-pagination class="d-flex justify-content-end" (pageChange)="changePage($event)" [ellipses]="true"  [collectionSize]="totalCategoryCount" maxSize="5" [(page)]="page" [pageSize]="perPageCount" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

</div>
