
<div class=" row justify-content-center">
  <div class="col-10 grid-margin stretch-card ">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="commentForm"  class="forms-sample">
          <div class="form-group">
            <textarea formControlName="text" class="form-control" id="exampleTextarea1" rows="4" placeholder="Leave a comment"></textarea>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-inverse-dark btn-fw " (click)="addComment()">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    <app-auth-comment-entity class="col-10 grid-margin stretch-card " *ngFor="let comment  of comments" [comment]="comment"></app-auth-comment-entity>
</div>


