
<div class="comp card m-1  border project-card stretch-card rounded">
  <div class="card-body p-0 h-100 shadow rounded">
    <div class="paddingDiv text-center" style="height: 50%">
      <ng-container *ngIf="news.images[0]">
        <img class="="  *ngIf="news.images[0]" [src]="news.images[0].image" style="max-width: 100%; max-height: 100%" alt="Card image cap">
      </ng-container>
      <img class="card-img-top" *ngIf="!news.images[0]" style="max-width: 100%; max-height: 100%" src="../../../../assets/images/32_0.png"  alt="Card image cap">

    </div>

    <div class="overflow-auto  stretch-card" style="height: 30%">
      <div class="media-body align-self-center text-md-left text-center text-sm-center">
        <p class="card-title  m-0 text-center"><a [routerLink]="['/newsDetail',news.id]" >
          {{ news.title}}</a></p>


      </div>
    </div>
    <hr class="m-md-1 m-0" style="height: 5%"/>

    <div class="pb-2 pl-2 pr-2" style="height: 15%">
      <div class="row">
        <div class="col d-flex ">
          <button mat-icon-button aria-label="Example icon button with an eye icon">
            <mat-icon>remove_red_eye</mat-icon>
            <span>{{news.views}}</span>
          </button>
        </div>
        <div class="col d-flex ">
          <button mat-icon-button aria-label="Example icon button with a heart icon" class="ml-auto">
            <mat-icon *ngIf="!news.liked" (click)="like()">favorite_border</mat-icon>
            <mat-icon *ngIf="news.liked" (click)="unlike()">favorite</mat-icon>
            <span>{{news.likes.length}}</span>
          </button>

        </div>
      </div>
    </div>


  </div>

</div>



