<app-spinner filterBy="subscribe/all"></app-spinner>

<ng-container >
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body p-2 p-md-4">
        <h4 class="card-title">Подписки</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-sss text-white">Искать по почте</span>
                </div>
                <input [(ngModel)]="inputText" #input id="input"  type="text" class="form-control" aria-label="Text input with dropdown button">

              </div>

            </div>
          </div>
          <div class="col-md-6 text-right">
              <button (click)="removeFilters()" type="button" class="btn btn-danger btn-rounded btn-icon" matTooltip="Убрать фильтры">
                <i class="mdi mdi-delete"></i>
              </button>
          </div>
        </div>

        <div class="table-responsive table-hover">
          <div id="recent-purchases-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="recent-purchases-listing" class="table dataTable no-footer" role="grid">
            <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 105.4px;">Почта</th>
              <th class="sorting_asc" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 105.4px;">Дата</th>
              <th class="sorting_asc" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 105.4px;">Статус</th>
            </tr>
            </thead>
            <tbody>


            <tr *ngFor="let subscriber of subscribers">
              <td class="sorting_1"><label ><a target="_blank" style="color: inherit" >{{subscriber.email}}</a></label></td>
              <td class="text-danger"> {{subscriber.created_at}}</td>
              <td class="text-success">
                <button mat-button (click)="changeActiveStatus(subscriber)">
                  {{subscriber.active}}
                </button>
                </td>
            </tr>





            </tbody>
          </table></div></div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"></div></div></div>
        </div>


      </div>
    </div>
  </div>

</div>
</ng-container>
<div>
  <ngb-pagination class="d-flex justify-content-end" (pageChange)="changePage($event)" [ellipses]="true"  [collectionSize]="totalSubscribersCount" maxSize="5" [(page)]="page" [pageSize]="perPageCount" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

</div>

