
<mat-dialog-content style="background: #fafbfe;">
  <app-spinner filterBy="users/"></app-spinner>
<ng-container *ngIf="user">
    <div class="row justify-content-center ">


      <div class="col-md-10 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">

            <form [formGroup]="userForm" class="forms-sample">
              <div class="form-group row">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Firtname</mat-label>
                  <input matInput formControlName="firstname" >
                </mat-form-field>

              </div>
              <div class="form-group row ">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Lastname</mat-label>
                  <input matInput formControlName="lastname" >
                </mat-form-field>
              </div>
              <div class="form-group row">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Telephone</mat-label>
                  <span matPrefix>+7 &nbsp;</span>
                  <input formControlName="phone_number" type="tel" matInput placeholder="777-77-77">
                  <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
              </div>
            </form>


          </div>
        </div>
      </div>

    </div>
</ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn w-25 btn-lg bg-sss text-light" mat-dialog-close (click)="onSubmit()">Save</button>

</mat-dialog-actions>
