
<div class=" row justify-content-end">





  <div class="col-12 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <hr class="bg-sss"/>
        <p> question</p>
      </div>
    </div>
  </div>
  <div class="col-10 grid-margin stretch-card ">
    <div class="card">
      <div class="card-body">

        <form class="forms-sample">
          <div class="form-group">
            <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="Answer to question"></textarea>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-inverse-dark btn-fw ">Send</button>

          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <hr class="bg-sss"/>
        <p> question</p>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <hr class="bg-sss"/>
        <p> question</p>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <hr class="bg-sss"/>
        <p> question</p>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <hr class="bg-sss"/>
        <p> question</p>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <hr class="bg-sss"/>
        <p> question</p>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <hr class="bg-sss"/>
        <p> question</p>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <hr class="bg-sss"/>
        <p> question</p>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <hr class="bg-sss"/>
        <p> question</p>
      </div>
    </div>
  </div>

</div>

