<div class="pt-md-4 row justify-content-center mb-md-2">
  <div class="col-10 p-5 shadow rounded-lg">
    <div class="text-right">
      <i class="fas fa-trash "></i>
      <i class="ml-md-2 fas fa-edit "></i>
    </div>
    <p class="paddingDiv" routerLink="/user/userProfile">Owner: Anonymous Anonym</p>
    <p> Comment</p>
    <hr/>
    <div class="row">
      <div class="col-md-2">
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2"><button class="btn btn-outline-secondary">Answer</button></div>

    </div>

  </div>
  <div class="col-10 p-5 shadow rounded-lg">
    <div class="text-right">
      <i class="fas fa-trash "></i>
      <i class="ml-md-2 fas fa-edit "></i>
    </div>

    <p> Comment</p>
    <hr/>
    <div class="row">
      <div class="col-md-2">
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2"><button class="btn btn-outline-secondary">Answer</button></div>

    </div>

  </div>
  <div class="col-10 p-5 shadow rounded-lg">
    <div class="text-right">
      <i class="fas fa-trash "></i>
      <i class="ml-md-2 fas fa-edit "></i>
    </div>

    <p> Comment</p>
    <hr/>
    <div class="row">
      <div class="col-md-2">
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2"><button class="btn btn-outline-secondary">Answer</button></div>

    </div>

  </div>
  <div class="col-10 p-5 shadow rounded-lg">
    <div class="text-right">
      <i class="fas fa-trash "></i>
      <i class="ml-md-2 fas fa-edit "></i>
    </div>

    <p> Comment</p>
    <hr/>
    <div class="row">
      <div class="col-md-2">
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2"><button class="btn btn-outline-secondary">Answer</button></div>

    </div>

  </div>
  <div class="col-10 p-5 shadow rounded-lg">
    <div class="text-right">
      <i class="fas fa-trash "></i>
      <i class="ml-md-2 fas fa-edit "></i>
    </div>

    <p> Comment</p>
    <hr/>
    <div class="row">
      <div class="col-md-2">
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2"><button class="btn btn-outline-secondary">Answer</button></div>

    </div>

  </div>
  <div class="col-10 p-5 shadow rounded-lg">
    <div class="text-right">
      <i class="fas fa-trash "></i>
      <i class="ml-md-2 fas fa-edit "></i>
    </div>

    <p> Comment</p>
    <hr/>
    <div class="row">
      <div class="col-md-2">
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2"><button class="btn btn-outline-secondary">Answer</button></div>

    </div>

  </div>
  <div class="col-10 p-5 shadow rounded-lg">
    <div class="text-right">
      <i class="fas fa-trash "></i>
      <i class="ml-md-2 fas fa-edit "></i>
    </div>

    <p> Comment</p>
    <hr/>
    <div class="row">
      <div class="col-md-2">
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2"><button class="btn btn-outline-secondary">Answer</button></div>

    </div>

  </div>
  <div class="col-10 p-5 shadow rounded-lg ">
    <div class="text-right">
      <i class="fas fa-trash "></i>
      <i class="ml-md-2 fas fa-edit "></i>
    </div>

    <p> Comment</p>
    <hr/>
    <div class="row">
      <div class="col-md-2">
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2"><button class="btn btn-outline-secondary">Answer</button></div>

    </div>

  </div>

</div>
