.page-link{
  padding: 0!important;
}

.project-img{
  height: 25%;
}
@media screen and (max-width: 991px) {
  .project-img{
    height: auto;
  }
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: #009E74 !important;
}
ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #009E74 !important;
  border-color: #009E74 !important;
}
