<app-spinner filterBy="recommendations"></app-spinner>

<ng-container *ngIf="projects">

<div class="row justify-content-center ">
  <div *ngFor="let project of projects" class="col-md-3 grid-margin stretch-card">
    <div class="comp card m-1  border project-card stretch-card">
      <div class="card-body p-0 p-md-3 h-100">
        <div class="paddingDiv h-50 text-center">
          <ng-container *ngIf="project.images">
            <img class="="  *ngIf="project.images[0]" [src]="project.images[0].image" style="max-width: 100%; max-height: 100%" alt="Card image cap">
          </ng-container>
          <img class="card-img-top" *ngIf="!project.images[0]" style="max-width: 100%; max-height: 100%" src="../../../../assets/images/32_0.png"  alt="Card image cap">

        </div>

        <div class=" h-25 overflow-auto">
          <div class="media-body text-md-left text-center text-sm-center">
            <p class="card-title text-center"><a [routerLink]="['/project/details', project.id]" >
              {{(translate.currentLang === 'rus') ? project.title_rus : (translate.currentLang == 'eng') ? project.title_eng: project.title_kz}}</a></p>

          </div>
        </div>
        <div class="h-25">
          <div class="h-50 overflow-auto">
            <hr class="m-md-1 m-0"/>
            <p class="text-muted m-0 mb-md-1" >{{'author' | translate}}: <a style="color: inherit" [routerLink]="['/userProfile',project.owner.id]"> {{project.owner.fullname}}</a></p>
          </div>

          <div class="row w-100 mb-1">
            <div class="col-9 text-left pr-0 display-5">
              ₸{{(project.gathered).toLocaleString()}}
            </div>
            <div class="col-3 color-sss p-0 display-5">{{progress(project) + '%'}}</div>

          </div>
          <div class=" progress">
            <div class="progress-bar" [ngClass]="(progress(project) >= 100) ? 'bg-danger' : 'bg-sss'" role="progressbar" [ngStyle]="{width: (project.gathered/project.goal)*100 + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

          </div>
        </div>
      </div>

    </div>


  </div>
</div>
</ng-container>
<div>
  <ngb-pagination class="d-flex justify-content-end pagination-sm" (pageChange)="changePage($event)" [ellipses]="true"  [collectionSize]="totalProjectsCount" maxSize="5" [(page)]="page" [pageSize]="perPageCount" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

</div>
