<app-spinner filterBy="recommendations"></app-spinner>

<ng-container *ngIf="projects">

<div class="row justify-content-center mt-md-5 ">
  <div *ngFor="let project of projects" class="col-md-2 grid-margin stretch-card">
    <div class="card  shadow" >
      <div class="card-img-top m-auto">

        <ng-container *ngIf="project.images">
          <img  *ngIf="project.images[0]" [src]="project.images[0].image" width="100%" height="150px" alt="Card image cap">
        </ng-container>
        <img class="card-img-top m-auto" *ngIf="!project.images[0]" src="../../../../../assets/images/32_0.png" width="100%" height="150px" alt="Card image cap">
      </div><div class="card-body">
      <h6 class="card-title text-center"><a [routerLink]="['/user/project/details', project.id]" >{{project.title_rus}}</a></h6>
      <hr/>
      <p class="text-muted " >by: <a style="color: inherit" [routerLink]="['/user/userProfile',project.owner.id]"> {{project.owner.getFullName()}}</a></p>

      <div class="row">
        <div class="col d-flex ">
          <button mat-icon-button aria-label="Example icon button with an eye icon">
            <mat-icon>remove_red_eye</mat-icon>
            <span>{{project.views}}</span>
          </button>
        </div>
        <div class="col d-flex ">
          <button mat-icon-button aria-label="Example icon button with a heart icon" class="ml-auto">
            <mat-icon *ngIf="!project.liked" (click)="like(project)">favorite_border</mat-icon>
            <mat-icon *ngIf="project.liked" (click)="unlike(project)">favorite</mat-icon>
            <span>{{project.likes.length}}</span>
          </button>

        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-secondary" role="progressbar" [ngStyle]="{width: (project.gathered/project.goal)*100 + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

    </div>
    </div>

  </div>
</div>
</ng-container>
<div>
  <ngb-pagination class="d-flex justify-content-end" (pageChange)="changePage($event)" [ellipses]="true"  [collectionSize]="totalProjectsCount" maxSize="5" [(page)]="page" [pageSize]="perPageCount" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

</div>
