<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body p-2 p-md-4">
        <h4 class="card-title">Заказы товаров</h4>
        <p class="text-warning">{{message}}</p>
        <div class="row">
          <div class="col-md-6 col-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">

                <button [matMenuTriggerFor]="chooseFilter" class="btn bg-sss text-white">
                  Фильтры
                </button>
                <mat-menu #chooseFilter="matMenu">
                  <button mat-menu-item (click)="changeFilter('user')">Пользователь</button>
                  <button mat-menu-item (click)="changeFilter('price')">Сумма</button>
                  <button mat-menu-item (click)="changeFilter('product')">Продукт</button>
                </mat-menu>
                </div>
                <input [(ngModel)]="inputText" #input id="input"  type="text" class="form-control" aria-label="Text input with dropdown button">

              </div>
            </div>
          </div>
          <div class="col-md-3 col-3">
            <div class="btn-group">
              <button [matMenuTriggerFor]="chooseBank" class="btn bg-sss text-white">
                Банк
              </button>
              <mat-menu #chooseBank="matMenu">
                <button mat-menu-item (click)="filterByBank(1)">Epay</button>
                <button mat-menu-item (click)="filterByBank(2)">Kaspi</button>
                <button mat-menu-item (click)="filterByBank(3)">Cloud</button>
              </mat-menu>
            </div>
          </div>
          <div class="col-md-3 col-3 text-right">
            <button type="button" class="btn btn-danger btn-rounded btn-icon" (click)="removeFilters()" matTooltip="Убрать фильтры">
              <i class="mdi mdi-delete"></i>
            </button>
          </div>

        </div>
        <app-spinner filterBy="all"></app-spinner>
        <app-spinner filterBy="filter"></app-spinner>
        <table class="table table-hover table-responsive-sm table-responsive-xl" *ngIf="orders">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Сумма</th>
            <th scope="col">Дата</th>
            <th scope="col">Банк</th>
            <th scope="col">Товары</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orders; index as i">
            <th scope="row">{{i + 1}}</th>
            <td> <p *ngIf="order.user">{{order.user.fullname}}</p>
              <p *ngIf="!order.user">{{order.first_name + ' ' + order.last_name}}</p></td>
            <td>{{order.payment.sum}}</td>
            <td>{{order.payment.created_at}}</td>
            <td>{{order.payment.bank.name}}</td>
            <td> <button mat-icon-button aria-label="Example icon button with an eye icon" (click)="openDialog(order)">
              <mat-icon>remove_red_eye</mat-icon>
            </button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<div>
  <ngb-pagination class="d-flex justify-content-end" (pageChange)="changePage($event)" [ellipses]="true"  [collectionSize]="totalOrdersCount" maxSize="5" [(page)]="page" [pageSize]="perPageCount" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

</div>
