@media (min-width: 992px) {
  #sidebar{
    display: none;
  }
}

.page-body-wrapper {
  padding-top: 120px;
}

.nav-link{
  font-size: 18px;
  color: black;
}
.content-wrapper{
  background: #fafbfe;
}
.footer{
  background: white;
}

@media (max-width: 991px) {
  .a {
    font-size: xx-small;
  }

  .small{
    font-size: x-small;
  }
}
