ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: #009E74 !important;
}
ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #009E74 !important;
  border-color: #009E74 !important;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #009E74;
}
