
  <app-spinner filterBy="product/"></app-spinner>
<mat-dialog-content>
  <ng-container *ngIf="product">
<div class=" mb-md-5">


  <div class="row justify-content-center w-100">
    <div class="col-md-6 col-5  ">
      <div class="card border-0">
        <div class="card-body p-1">
              <ngx-slick-carousel  class="carousel" #slickModal="slick-carousel" [config]="slideConfig">

                <div ngxSlickItem *ngFor="let image of product.images" class="slide ">
                  <img class="m-auto" [src]="[image.url]" alt="" style="max-width: 100%;max-height: 100%">


                </div>

              </ngx-slick-carousel>
              <img class="m-auto" *ngIf="product.images.length===0" src="../../../../../assets/images/5_0.png" style="max-width: 100%;max-height: 100%">

        </div>
      </div>

    </div>
    <div class="col-md-6 col-7">
      <div class="row justify-content-center" >
        <div class="col-md-6 col-6 text-right border-right">
          <div>
          <h2 class="display-5"> {{'sum'|translate}}: ₸<span>{{sum}}</span></h2>
          </div>
          <div class="d-flex" *ngIf="!unactive">
            <span class="ml-auto">
              <a class="hover-cursor" (click)="changeCount(true)">
            <i  class="fas fa-chevron-left"></i>
              </a>
            {{count}}
            <a class="hover-cursor" (click)="changeCount(false)"><i class="fas fa-chevron-right"></i></a>
          </span>
          </div>
        </div>
        <div *ngIf="!unactive" class="col-md-6 col-6 "> <button class="btn btn-outline-dark btn-sm ml-2 mt-2" mat-dialog-close  (click)="intoTheBasket()">{{'order' | translate}}</button></div>
      </div>
    </div>


  </div>
  <div class="row justify-content-center" >
    <div class="card border-0 h-100 w-100">
      <div class="card-body p-1">
        <div class="row justify-content-center">
          <div class="col-md-12  ">

            <h3>
              {{(translate.currentLang=='eng')?product.title_eng:(translate.currentLang=='rus')?product.title_rus:product.title_kz}}</h3>
            <hr/>
            <p [routerLink]="['/userProfile',product.user.id]" class="paddingDiv">{{'author'|translate}}: {{product.user.fullname}}</p>
            <p [innerHTML]="(translate.currentLang=='eng')?product.description_eng:(translate.currentLang=='rus')?product.description_rus:product.description_kz" >
              </p>
          </div>
        </div>

      </div>
    </div>  </div>
</div>
</ng-container>
</mat-dialog-content>

