<ng-container *ngIf="update">

<div class=" row justify-content-center">

  <div class="col-10 grid-margin stretch-card ">
    <div class="card">
      <div class="card-body">
        <h2 class="display-5">{{update.title}}</h2>

        <ngx-slick-carousel  class="carousel" #slickModal="slick-carousel" [config]="slideConfig">

          <div ngxSlickItem *ngFor="let image of update.images" class="slide ">
                  <img class="m-auto" [src]="[image.image]" alt="" width="50%" height="400px">


          </div>

        </ngx-slick-carousel>
        <p>{{update.description}}</p>

      </div>

      </div></div>
  </div>


</ng-container>
