<div class="row justify-content-center">
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card shadow-lg">
      <div class="card-body">
        <hr class="m-md-5 m-sm-5 m-lg-5"/>

        <h2 class="mb-md-4 mb-lg-5 text-center mb-sm-4">
          <img src="../../../../assets/images/43_0.png" width="100px" height="100px">
          Что такое краудфандинг</h2>

        <p> Starttime.kz – сервис, помогающий авторам интересных идей находить средства на реализацию задумки посредством коллективной поддержки. Стать участником Starttime может социальная, коммерческая или благотворительная идея. Создать проект, собрать средства на исполнение задумки или поддержать талант можно, пройдя несложную регистрацию. Заявки подаются организациями и персонально.

        </p>

        <h5>Возможности Starttime</h5>

        <p>Starttime объединяет правообладателей (авторов идеи), результаты их работы и вкладчиков (поклонников, заинтересованные лица). Помимо поддержки и продвижения интересных авторских идей. Starttime предлагает вкладчикам уникальный продукт.
        </p>
        <h5>Starttime и пользователи</h5>

        <p>Пользователи Starttime называются вкладчиками, так как могут приобрести интересующий продукт-вознаграждение, тем самым поддержав авторский проект. Итак, чем полезен Starttime?
        </p>
        <ul>
          <li>
            Вы получаете прямой контакт с авторами проекта, можете задать им интересующие вопросы, организовать сотрудничество и сделать заказ на понравившиеся вознаграждения.

          </li>
          <li>
            Вы можете стать участником творческого процесса, на который по каким-либо причинам не решились бы сами.

          </li>

          <li>
            Вы можете получить уникальные нематериальные вознаграждения напрямую от авторов (например, авторский диск от музыкантов или посещение бэкстейдж после концерта).

          </li>

          <li>
            Вы можете общаться с остальными вкладчиками, оказывать поддержку в продвижении интересных для вас проектов.

          </li>
        </ul>




        <h5>Starttime и авторы</h5>

        <p>Чем полезен Starttime авторам?</p>
        <ul>

          <li>
            Вы получаете доступ к аудитории, готовой поддержать ваше начинание, таким образом, нет необходимости зависеть от посредников по продвижению вашей идеи.

          </li>
          <li>
            Вы получаете обратную связь с аудиторией, что помогает усовершенствовать идею и конечный продукт.

          </li>

          <li>
            Для начального бизнеса Starttime – одна из возможностей протестировать продукт без предварительных затрат, понять спрос и провести предпродажи.

          </li>
        </ul>



        <h5>Зачем обращаться к Starttime, если деньги можно собрать и на своем сайте?</h5>

        <ul>
          <li>
            Starttime поможет в привлечении новой аудитории.

          </li>
          <li>
            У проектов Starttime персональные кураторы, поддерживающие и консультирующие авторов в продвижении проектов.

          </li>
          <li>
            Сервис оказывает информационную поддержку проектам, еженедельно рассылая Обзор Starttime подписчикам.

          </li>
        </ul>


        <hr class="m-md-5 m-sm-5 m-lg-5"/>

      </div>
  </div>
</div>
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card shadow-lg">
      <div class="card-body">
        <hr class="m-md-5 m-sm-5 m-lg-5"/>

        <h2 class="mb-md-4 mb-lg-5 mb-sm-4 text-center">
          <img src="../../../../assets/images/43_0.png" width="100px" height="100px">

          Краудфандинг</h2>

        <h5>Что такое краудфандинг?</h5>

        <p>Краудфандинг (от англ. crowdfunding) — способ коллективного финансирования проектов, при котором деньги на создание продукта поступают от потребителей (вкладчиков). Краудфандинг позволяет изучить аудиторию и оценить ценность идеи.
        </p>

        <h5>Отличие Starttime.kz от других ресурсов.
        </h5>
        <p>Авторы проектов Starttime получают следующие условия:
        </p>
        <ul>

          <li>
            Авторы получают собранные средства, даже если собрали всего 51% от заявленной суммы.

          </li>

          <li>

            Авторы имеют возможность продлевать срок проведения проекта еще на 90 дней.

          </li>

          <li>
            Starttime предлагает авторам собственные инструменты продвижения проекта.

          </li>

          <li>
            Авторы могут напрямую общаться с вкладчиками и получают контактную информацию о вкладчике.

          </li>

          <li>

            Вкладчики могут поддерживать несколько проектов, приобретая вознаграждения разных авторов.

          </li>
        </ul>


        <hr class="m-md-5 m-sm-5 m-lg-5"/>

      </div>
  </div>
</div>
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card shadow-lg">
      <div class="card-body">
        <hr class="m-md-5 m-sm-5 m-lg-5"/>

        <h2 class="mb-md-4 mb-lg-5 mb-sm-4 text-center" >
          <img src="../../../../assets/images/43_0.png" width="100px" height="100px">

          Раздел «Новости»
        </h2>
        <p>В новостях модераторы Starttime размещают интересную информацию о проектах и событиях, делятся советами по продвижению проектов, рассказывают об успешных проектах.
        </p>

        <hr class="m-md-5 m-sm-5 m-lg-5"/>

      </div>
  </div>
</div>
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card shadow-lg">
      <div class="card-body">
        <hr class="m-md-5 m-sm-5 m-lg-5"/>

        <h2 class="mb-md-4 mb-lg-5 mb-sm-4 text-center">
          <img src="../../../../assets/images/43_0.png" width="100px" height="100px">

          Личный профиль на Starttime
        </h2>
        <p>Личный профиль может пригодиться автору проекта в качестве дополнительной страницы в социальной сети. Здесь можно делиться творческими планами, рассказывать о мероприятиях, отвечать на вопросы. Также профиль является инструментом для продвижения проекта. Чем больше информации о проекте вы предоставите вкладчикам, тем больше вероятность, что они заинтересуются поддержкой. Также профиль может пригодиться в создании следующего проекта, искать аудиторию для которого уже не составит труда.
        </p>
        <hr class="m-md-5 m-sm-5 m-lg-5"/>

      </div>
  </div>
</div>
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card shadow-lg">
      <div class="card-body">
        <hr class="m-md-5 m-sm-5 m-lg-5"/>

        <h2 class="mb-md-4 mb-lg-5 mb-sm-4 text-center">
          <img src="../../../../assets/images/43_0.png" width="100px" height="100px">

          Кому можно создавать проекты на Starttime?
        </h2>

        <p>Создать проект может:
        </p>
        <ul>

          <li>
            Гражданин Республики Казахстан, достигший 18 лет, и имеющий действующий счет в банке

          </li>
          <li>
            <a href="https://start-time.kz/about/agreements/dogovor-publichnoj-ofertyi-s-avtorom-proekta">Компания, соответствующая и следующая условиям Starttime (ссылка на документ)</a>
          </li>
        </ul>

        <h5>Заявки на какие проекты рассматриваются Starttime?
        </h5>
        <p>Starttime принимает заявки на творческие и социально-значимые идеи всех сфер деятельности, не нарушающие авторских прав и свобод других граждан, а также не противоречащие законодательства Республики Казахстан.
        </p>
        <h5>Стоимость сотрудничества:
        </h5>
        <p>Создание и размещение проекта на Starttime бесплатно. В случае успешного завершения проекта сервис удерживает с проекта комиссию в размере 2-8% от собранных средств, в зависимости от проекта. Если Автором Проекта выступает физическое лицо, то из суммы перечисляется в бюджет Республики Казахстан налог от дохода физического лица, согласно налогового законодательства Республики Казахстан.
        </p>
        <hr class="m-md-5 m-sm-5 m-lg-5"/>


      </div>
  </div>
</div>

</div>

