<div>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <img src="../../../assets/images/30_0.png" width="70" height="70">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="main">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="news">Новости</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Связаться с нами</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="about">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="help">Помощь</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="shop">Q-Shop</a>
        </li>
      </ul>

    <div id="unauth" class="row ml-auto unauth">
      <div class="col-2">
        <span class="navbar-text"><i class="fas fa-shopping-cart"></i></span>

      </div>
      <div class="col-3">
        <span class="navbar-text">
        <a  routerLink="login">Логин</a>
      </span>

      </div>
      <div class="col-3">
        <span class="navbar-text">
        <a  routerLink="register">Регистрация</a>
      </span>
      </div>
    </div>




    </div>
  </nav>

  <nav class="navbar navbar-light border">
  <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category <span class="sr-only">(current)</span></a>
  </span>
    <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category <span class="sr-only">(current)</span></a>
  </span>
    <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category <span class="sr-only">(current)</span></a>
  </span>
    <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category <span class="sr-only">(current)</span></a>
  </span>
    <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category <span class="sr-only">(current)</span></a>
  </span>
    <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category <span class="sr-only">(current)</span></a>
  </span>
    <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category <span class="sr-only">(current)</span></a>
  </span>
  </nav>



    <router-outlet></router-outlet>


</div>






