  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex justify-content-center">
      <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
        <a class="navbar-brand brand-logo"><img src="../../../assets/images/30_0.png" alt="logo"></a>
        <a class="navbar-brand brand-logo-mini" ><img src="../../../assets/images/30_0.png" alt="logo"></a>
      </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <ul class="navbar-nav mr-lg-4 w-100">

        <li class="nav-item  d-none d-lg-block ">
          <a class="nav-link" routerLink="main">Главная <span class="sr-only">(current)</span></a>

        </li>
        <li class="nav-item  d-none d-lg-block">
          <a class="nav-link" routerLink="news">Новости</a>

        </li>
        <li class="nav-item  d-none d-lg-block ">
          <a class="nav-link" routerLink="contact">Связаться с нами</a>

        </li>
        <li class="nav-item  d-none d-lg-block ">
          <a class="nav-link " routerLink="about">О нас</a>

        </li>
        <li class="nav-item  d-none d-lg-block ">
          <a class="nav-link " routerLink="help">Помощь</a>

        </li>
        <li class="nav-item  d-none d-lg-block ">
          <a class="nav-link " routerLink="shop">Q-Shop</a>
        </li>
      </ul>


      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown mr-1">
          <span class="navbar-text"><i class="fas fa-shopping-cart"></i></span>
        </li>
        <li class="nav-item dropdown mr-1">
          <a style="color: inherit" routerLink="login">Логин</a>
        </li>
        <li class="nav-item nav-profile dropdown">
          <a style="color: inherit" routerLink="register">Регистрация</a>

        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" (click)="changeMenu()" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
    <div class="navbar-brand-wrapper d-flex justify-content-center">
      <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100 border-0">

      </div>
    </div>

    <div class="navbar-menu-wrapper justify-content-center">
      <ngx-slick-carousel  class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
                           (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">

        <div ngxSlickItem *ngFor="let category of categories" class="slide">
          <div class="w-100">
                  <span >
                              <a class="nav-link" [routerLink]="['category', category.id]">{{category.name}} <span class="sr-only">(current)</span></a>
                    </span>
          </div>

        </div>

      </ngx-slick-carousel>
    </div>  </nav>
  <div class="container-fluid page-body-wrapper">
    <nav    class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
            <a class="nav-link al"  routerLink="main">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link al" id="s1" routerLink="news">Новости</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Связаться с нами</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="about">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="help">Помощь</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="shop">Q-Shop</a>
        </li>

      </ul>
    </nav>

    <div class="main-panel">
      <div class="content-wrapper">

        <router-outlet></router-outlet>
      </div>
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Start-time {{getDate()}}  All rights reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>





<!--    <router-outlet></router-outlet>-->








