<div class="row justify-content-center">
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card ">
      <div class="card-body">
        <hr class="m-md-5 m-lg-5 m-sm-5"/>

        <h1 class="mb-md-4 mb-lg-5 mb-sm-4 text-center text-start-time">
          {{'contacts.1' |translate}}
        </h1>
        <h2>
          <span class="text-muted">
          {{'contacts.2' |translate}}
            </span>
        </h2>
        <h2>
                    <span class="text-muted">

          {{'contacts.3' |translate}}
                    </span>
        </h2>
        <p>
          {{'contacts.4' |translate}}
        </p>

        <h2>
                    <span class="text-muted">

         {{'contacts.5' |translate}}
                    </span>
        </h2>

        <p>
          {{'contacts.6' |translate}}
        </p>
        <h2>
                    <span class="text-muted">

          {{'contacts.7' |translate}}
                    </span>
        </h2>

        <p>
          {{'contacts.8' |translate}}
        </p>

        <h2>
                    <span class="text-muted">

          {{'contacts.9' |translate}}
                    </span>
        </h2>

        <p>
          {{'contacts.10' |translate}}        </p>

        <p>
          {{'contacts.11' |translate}}

        </p>

        <p>
          {{'contacts.12' |translate}}

        </p>
        <ul>
          <li>
            {{'contacts.13' |translate}}
          </li>
          <li>
            {{'contacts.14' |translate}}
          </li>
          <li>
            {{'contacts.15' |translate}}
          </li>
        </ul>

        <h2>
                    <span class="text-muted">

          {{'contacts.16' |translate}}
                    </span>
        </h2>

        <p>
          {{'contacts.17' |translate}}
        </p>
        <p>
          {{'contacts.18' |translate}}
        </p>
        <p>
          {{'contacts.19' |translate}}

        </p>

        <h2>
                    <span class="text-muted">

          {{'contacts.20' |translate}}
                    </span>
        </h2>
        <p>
          {{'contacts.21' |translate}}

        </p>
        <p>
          {{'contacts.22' |translate}}

        </p>
        <p>
          {{'contacts.23' |translate}}

        </p>
        <p>
          {{'contacts.24' |translate}}

        </p>
        <p>
          {{'contacts.25' |translate}}

        </p>


        <agm-map [latitude]="43.233135" [longitude]="76.956836">
          <agm-marker [latitude]="43.233135" [longitude]="76.956836"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>
