<div class="row justify-content-center">
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card shadow-lg">
      <div class="card-body">
        <hr class="m-md-5 m-lg-5 m-sm-5"/>

        <h2 class="mb-md-4 mb-lg-5 mb-sm-4 text-center">
          Контакты
        </h2>
        <h5>
          Мы открыты сотрудничеству и поддержке интересных проектов!
          Задать вопросы можно к специалистам Starttime.kz.
        </h5>
        <h5>
          Если вы Автор:
        </h5>
        <p>
          Вы готовы начать проект, вам необходима консультация или совет, пишите на почту
          Утегенова Азиза a.utegenova@tsd.kz
        </p>

        <h5>
          Если вы из СМИ:
        </h5>

        <p>
          На вопросы по сотрудничеству и информационной поддержке
          Утегенова Азиза a.utegenova@tsd.kz
        </p>
        <h5>
          Если вы Вкладчик:
        </h5>

        <p>
          Вы готовы внести взнос за проект, но у вас возникли вопросы, задайте их
          Оразовой Зухре finansist@mediacast.kz
        </p>

        <h5>
          Рекламодателям
        </h5>

        <p>
          Starttime – коммерческий и социальный онлайн-проект, созданный для упрощения и развития общественных отношений. Являясь краудфанд-сервисом (сервисом общественного финансирования) Starttime объединяет целевые группы авторов и вкладчиков.
        </p>

        <p>
          Starttime предлагает рекламные позиции и для партнеров: от размещения баннеров до создания специальных проектов, выгодных для развития бизнеса.


        </p>

        <p>
          Работая со Starttime вы получаете:


        </p>
        <ul>
          <li>
            Доступ к аудитории вкладчиков и авторов творческих и социальных проектов;

          </li>
          <li>
            Нестандартное размещение работающей рекламы;

          </li>
          <li>
            Превью и тестирование продуктов, еще не появившихся на рынке.

          </li>
        </ul>

        <h5>
          Контакты
        </h5>

        <p>
          По вопросам размещения рекламы и сотрудничества:
          a.utegenova@tsd.kz
        </p>
        <p>
          Телефон:
        </p>
        <p>
          +7(727) 225-50-05

        </p>

        <h5>
          Реквизиты ТОО «Start Time»

        </h5>
        <p>
          Наименовани ТОО "START TIME"

        </p>
        <p>
          ИИК KZ856017131000020958

        </p>
        <p>
          Банк АО "Народный Банк Казахстана"

        </p>
        <p>
          БИК HSBKKZKX

        </p>
        <p>
          Юридический адрес Г.АЛМАТЫ,МЕДЕУСКИЙ РАЙОН, МИКРОРАЙОН САМАЛ-2, 111

        </p>
        <h5>Схема проезда
        </h5>
        <div id="googleMap" style="width:100%;height:400px;"></div>
        <hr class="m-md-5 m-lg-5 m-sm-5"/>

      </div>
    </div>
  </div>
</div>
