

<div class="card   text-left border-sss ">
  <div class="card-body p-3">
    <p> {{comment.description}}</p>
    <hr class="bg-sss"/>
    <div class="row">
      <div class="col-6">
    <button mat-icon-button aria-label="Example icon button with a heart icon">
      <mat-icon *ngIf="!comment.liked" (click)="like()">favorite_border</mat-icon>
      <mat-icon *ngIf="comment.liked" (click)="unLike()">favorite</mat-icon>
    </button> {{comment.likes.length}}
      </div>
      <div class="col-6 text-right">

        <h4 [routerLink]="['/user/userProfile',comment.user.id]" class="paddingDiv"><small class="text-muted">Author: {{comment.user.getFullName()}}</small></h4>
      </div></div>
  </div>
</div>

