
<router-outlet></router-outlet>

<!--<p *ngIf="i!==-1" [ngStyle]="{color: deleted[i] }">Element deleted</p>-->
<!--<p [ngClass]="{updated: hobbies.length<=3}"> There are {{hobbies.length}} hobbies </p>-->
<!--<input type="text" [(ngModel)]="hobby" (keydown)="checkEnter($event)" >-->
<!--<button (click)="getData()">Click me</button>-->
<!--<div>-->
<!--  <ul>-->
<!--    <li *ngFor="let h of hobbies; let i = index">-->
<!--&lt;!&ndash;      <app-username [hobby]="h" [index]="i" (hobbyClicked)="deleteHobby($event)" ></app-username>&ndash;&gt;-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->


<!--<app-username [username]="'Alltonight'" (userClicked)="getBack($event)" ></app-username>-->
<!--<app-username [username]="'Archet'" (userClicked)="getBack($event)" ></app-username>-->
<!--<h1 [ngClass]="{updated: title!='st'}">{{title}}</h1>-->
<!--<button (click)="titleChange()">Change</button>-->
<!--<h1 *ngIf="title!='st'">Updated</h1>-->
<!--<ul>-->
<!--  <li *ngFor="let n of numbers" [id] = "'element' + n" [ngStyle]="{backgroundColor: getColor(n)}">-->
<!--    {{n}}-->
<!--  </li>-->
<!--</ul>-->

<!--<input type="text" [(ngModel)]="message">-->
<!--<p>{{message}}</p>-->
