
<app-spinner filterBy="users"></app-spinner>

<ng-container *ngIf="user && user.projects && user.followers">

<div class=" container-fluid  mb-md-5">
  <div class="row justify-content-center p-md-5 p-2">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body p-2 ">
          <div class="row justify-content-end ">


            <div class="col-md-10 col-8">
              <div class="text-right mt-2">
                <span class="display-5">{{user.fullname}}</span>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-2 col-4 p-0 info-card text-center paddingDiv" routerLink="projects">
                    <img style="max-width: 100%; max-height: 100%" class="options-image" src="../../../../assets/images/31_0.png">
                    <h5 class="display-5">{{user.projects.length}}</h5>
                    <span class="text-muted">{{'user_profile.projects' | translate}}</span>
                </div>
                <div class="col-md-2 col-4 p-0 text-center  info-card" (click)="showFollowers(user.followers)">

                    <img style="max-width: 100%; max-height: 100%" class="options-image" src="../../../../assets/images/25_0.png" >
                    <h5 class="display-5">{{user.followers.length}}</h5>
                    <span class="text-muted">{{'user_profile.followers' | translate}}</span>

                </div>
                <div class="col-md-2 col-4 p-0 text-center info-card hover-cursor" routerLink="information">
                    <img style="max-width: 100%; max-height: 100%" class="options-image" src="../../../../assets/images/15_0.png">
                    <h5 class="display-5"><span></span></h5>
                  <span class="text-muted">{{'user_profile.info' | translate}}</span>

                </div>


              </div>

            </div>
            <div class="col-md-2 col-4 pt-5 p-0 ">
              <img *ngIf="!user.image" class="profile-image" src="../../../../assets/images/11_0.png"   >
              <img *ngIf="user.image" class="profile-image" [src]="user.image"   >
              <div class="desc-button">
                <button *ngIf="!following" type="button" class="btn p-3 btn-lg bg-start-time text-light" (click)="follow()">{{'user_profile.follow' | translate}}</button>
                <button *ngIf="following" type="button" class="btn p-3 btn-lg bg-light" (click)="follow()">{{'user_profile.unfollow' | translate}}</button>

              </div>
              <div class="mob-button">
                <button *ngIf="!following" type="button" style="font-size: 0.5rem" class="btn btn-sm bg-start-time p-1 text-light" (click)="follow()">{{'user_profile.follow' | translate}}</button>
                <button *ngIf="following" style="font-size: 0.5rem" type="button" class="btn btn-sm bg-light p-1" (click)="follow()">{{'user_profile.unfollow' | translate}}</button>

              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="row justify-content-center mt-3 ">
        <div class="col-md-12">
          <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>
