
<app-spinner filterBy="users"></app-spinner>

<ng-container *ngIf="user && user.projects && user.followers">

<div class=" container-fluid  mb-md-5">
  <div class="row justify-content-center p-md-5">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-end p-md-5 ">


            <div class="col-md-10 col-8">
              <div class="text-right mt-2">
                <span class="display-5">{{user.firstname}}</span>
                <p class="display-5">{{user.lastname}}</p>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-2 col-4 text-center paddingDiv" routerLink="projects">
                  <button class="btn btn-light p-2" >
                    <img class="options-image" src="../../../../assets/images/31_0.png">
                    <h5 class="display-5">{{user.projects.length}}</h5>
                    Проектов</button>
                </div>
                <div class="col-md-2 col-4  text-center">
                  <button class="btn btn-light p-2"  (click)="showFollowers(user.followers)">

                    <img class="options-image" src="../../../../assets/images/25_0.png" >
                    <h5 class="display-5">{{user.followers.length}}</h5>
                    Подписчиков
                  </button>

                </div>
                <div class="col-md-2 col-4 text-center">
                  <button class="btn btn-light p-2" routerLink="information">
                    <img class="options-image" src="../../../../assets/images/15_0.png">
                    <h5 class="display-5">Данные</h5>
                  </button>
                </div>


              </div>

            </div>
            <div class="col-md-2 col-4 pt-5 pb-5 ">
              <img *ngIf="!user.image" class="profile-image" src="../../../../assets/images/11_0.png"   >
              <img *ngIf="user.image" class="profile-image" [src]="user.image"   >
              <button *ngIf="!following" type="button" class="btn btn-lg bg-start-time text-light" (click)="follow()">Follow</button>
              <button *ngIf="following" type="button" class="btn btn-lg bg-light" (click)="follow()">Unfollow</button>
            </div>
          </div>

        </div>
      </div>


      <div class="row justify-content-center mt-md-5 ">
        <div class="col-md-12">
          <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>
