<app-spinner filterBy="userLogin"></app-spinner>
<ng-container *ngIf="!loading">
  <ng-container *ngIf="!token">
  <div class="row justify-content-center p-2">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">

          <form [formGroup]="resetPasswordRequestForm" class="forms-sample text-right">
            <h4 class="font-weight-light text-left">{{'authorization.password_reset.text' | translate}}</h4>
            <p class="card-description text-danger text-left">
              {{answer}}
            </p>
            <div class="form-group row">
              <mat-form-field class="example-full-width w-100">
                <mat-label>{{'authorization.email' | translate}}</mat-label>
                <input matInput formControlName="email" placeholder="{{'authorization.email' | translate}}">
              </mat-form-field>
            </div>

            <button type="submit" class="btn btn-start-time ml-auto" (click)="onSubmitRequest()" [disabled]="!resetPasswordRequestForm.valid">{{'authorization.submit' | translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </ng-container>
  <ng-container *ngIf="token">
    <div class="row justify-content-center">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">

            <form [formGroup]="resetPasswordResponseForm" class="forms-sample text-right">
              <h4 class="font-weight-light text-left">{{'authorization.password_reset.new_password' | translate}}</h4>
              <p class="card-description text-danger text-left">
                {{answer}}
              </p>
              <div class="form-group row">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>{{'authorization.email' | translate}}</mat-label>
                  <input matInput formControlName="email" placeholder="{{'authorization.email' | translate}}">
                  <mat-error *ngIf="resetPasswordResponseForm.hasError('email') && !resetPasswordResponseForm.hasError('required')">
                    {{'authorization.email_error_invalid' | translate}}
                  </mat-error>
                  <mat-error *ngIf="resetPasswordResponseForm.hasError('required')">
                    <strong>{{'authorization.email_error_required' | translate}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group row">
                <mat-form-field class="w-100">
                  <input matInput type="password" placeholder="{{'authorization.password' | translate}}" formControlName="password" (input)="onPasswordInput()">
                  <mat-error *ngIf="password.hasError('required')">{{'authorization.password_error_required' | translate}}</mat-error>
                  <mat-error *ngIf="password.hasError('minlength')">{{'authorization.password_error_length' | translate}}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group row">
                <mat-form-field class="w-100">
                  <input matInput type="password" placeholder="{{'authorization.password_confirmation' | translate}}" formControlName="password_confirmation" (input)="onPasswordInput()">
                  <mat-error *ngIf="password2.hasError('required')">{{'authorization.password_confirmation_text' | translate}}</mat-error>
                  <mat-error *ngIf="password2.invalid && !password2.hasError('required')">{{'authorization.password_confirmation_error' | translate}}</mat-error>
                </mat-form-field>
              </div>

              <button type="submit" class="btn btn-start-time ml-auto" (click)="onSubmitResponse()" [disabled]="!resetPasswordResponseForm.valid">{{'authorization.password_reset.reset' | translate}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </ng-container>
</ng-container>
