<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Products orders</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose filter</button>
                  <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 46px, 0px);">
                    <a class="dropdown-item" href="#">User</a>
                    <a class="dropdown-item" href="#">Product</a>
                    <a class="dropdown-item" href="#">Category</a>
                    <a class="dropdown-item" href="#">Transaction id</a>
                    <a class="dropdown-item" href="#">Status</a>
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">Choose bank</button>
              <div class="dropdown-menu">
                <a class="dropdown-item">Bank 1</a>
                <a class="dropdown-item">Bank 2</a>
                <a class="dropdown-item">Bank 3</a>
              </div>
            </div>
          </div>

        </div>
        <div class="table-responsive table-hover">
          <div id="recent-purchases-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="recent-purchases-listing" class="table dataTable no-footer" role="grid">
            <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 105.4px;">User</th>
              <th class="sorting_asc" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 105.4px;">Product</th>
              <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Status report: activate to sort column ascending" style="width: 60px;">Count</th>
              <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending" style="width: 70px;">Price</th>
              <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 67px;">Date</th>
              <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Gross amount: activate to sort column ascending" style="width: 103.8px;">Delivery</th>
              <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Gross amount: activate to sort column ascending" style="width: 103.8px;">Active</th>
            </tr>
            </thead>
            <tbody>








            <tr role="row" class="odd">
              <td class="sorting_1" >
                <p>Alvin Fisher</p>
              </td>
              <td ><a style="color:inherit" target="_blank" class="paddingDiv" routerLink="/start/productDetail">Product</a></td>
              <td>2</td>
              <td>$23230</td>
              <td>18 Jul 2018</td>
              <td>$83127</td>
              <td class="text-success">active</td>
            </tr>
            <tr role="row" class="even">
              <td class="sorting_1">Lake Sandrafort</td>
              <td ><a style="color:inherit" target="_blank" class="paddingDiv" routerLink="/start/productDetail">Product</a></td>
              <td>2</td>
              <td>$571</td>
              <td>25 Jun 2018</td>
              <td>$78952</td>
              <td class="text-success">active</td>
            </tr>
            <tr role="row" class="odd">
              <td  class="sorting_1">Makennaton</td>
              <td><a style="color:inherit" target="_blank" class="paddingDiv" routerLink="/start/productDetail">Product</a></td>
              <td>2</td>
              <td>$939</td>
              <td>16 Jul 2018</td>
              <td>$29177</td>
              <td class="text-success">active</td>

            </tr>
            <tr role="row" class="even">
              <td class="sorting_1">West Fidelmouth</td>
              <td ><a style="color:inherit" target="_blank" class="paddingDiv" routerLink="/start/productDetail">Product</a></td>
              <td>2</td>
              <td>$484</td>
              <td>08 Sep 2018</td>
              <td>$50862</td>
              <td class="text-success">active</td>

            </tr>
            <tr role="row" class="odd">
              <td class="sorting_1">Cletaborough</td>
              <td ><a style="color:inherit" target="_blank" class="paddingDiv" routerLink="/start/productDetail">Product</a></td>
              <td>2</td>
              <td>$314</td>
              <td>12 Jul 2018</td>
              <td>$34167</td>
              <td class="text-success">active</td>

            </tr>
            <tr role="row" class="even">
              <td  class="sorting_1">Catalinaborough</td>
              <td><a style="color:inherit" target="_blank" class="paddingDiv" routerLink="/start/productDetail">Product</a></td>
              <td>2</td>
              <td>$790</td>
              <td>06 Jan 2018</td>
              <td>$2274253</td>
              <td class="text-success">active</td>

            </tr>
            <tr role="row" class="odd">
              <td  class="sorting_1">Agustinaborough</td>
              <td><a style="color:inherit" target="_blank" class="paddingDiv" routerLink="/start/productDetail">Product</a></td>
              <td>2</td>
              <td>$30</td>
              <td>30 Apr 2018</td>
              <td>$44617</td>
              <td class="text-success">active</td>

            </tr>
            <tr role="row" class="even">
              <td class="sorting_1">Cassinbury</td>
              <td ><a style="color:inherit" target="_blank" class="paddingDiv" routerLink="/start/productDetail">Product</a></td>
              <td>2</td>
              <td>$36</td>
              <td>05 Nov 2018</td>
              <td>$36422</td>
              <td class="text-success">active</td>

            </tr></tbody>
          </table></div></div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"></div></div></div>
        </div>


      </div>
    </div>
  </div>

</div>
