
<div class=" row justify-content-center">

  <div class="col-10 grid-margin stretch-card ">
    <div class="card">
      <div class="card-body">

        <form class="forms-sample">
          <div class="form-group">
            <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="Leave a comment"></textarea>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-inverse-dark btn-fw ">Add</button>

          </div>
        </form>
      </div>
    </div>
  </div>



  <div class="col-10 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <p> Comment</p>
        <hr class="bg-sss"/>
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
    </div>
  </div>
  <div class="col-10 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <p> Comment</p>
        <hr class="bg-sss"/>
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
    </div>
  </div>
  <div class="col-10 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <p> Comment</p>
        <hr class="bg-sss"/>
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
    </div>
  </div>
  <div class="col-10 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <p> Comment</p>
        <hr class="bg-sss"/>
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
    </div>
  </div>
  <div class="col-10 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <p> Comment</p>
        <hr class="bg-sss"/>
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
    </div>
  </div>
  <div class="col-10 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <p> Comment</p>
        <hr class="bg-sss"/>
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
    </div>
  </div>
  <div class="col-10 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <p> Comment</p>
        <hr class="bg-sss"/>
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
    </div>
  </div>
  <div class="col-10 grid-margin stretch-card ">
    <div class="card   text-left border-sss ">
      <div class="card-body">
        <p routerLink="/user/userProfile" class="paddingDiv">Author: Anonymous Anonym</p>
        <p> Comment</p>
        <hr class="bg-sss"/>
        <i class="far fa-eye  "></i>
        <i class="far fa-heart ml-2"></i>
      </div>
    </div>
  </div>


</div>

