<app-spinner filterBy="userLogin"></app-spinner>
<ng-container *ngIf="!loading">
<div class="row justify-content-center p-2">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <form [formGroup]="loginForm" class="forms-sample ">
          <h4 class="font-weight-light">{{'authorization.login.text' | translate}}</h4>
          <p class="card-description text-danger">
            {{answer}}
          </p>
          <div _ngcontent-xkd-c188="" class="form-group">
            <input _ngcontent-xkd-c188="" formControlName="email" id="exampleInputEmail1"  placeholder="{{'authorization.email' | translate}}" class="form-control form-control-lg ng-dirty ng-valid ng-touched">
          </div>
          <div _ngcontent-xkd-c188="" class="form-group">
            <input _ngcontent-xkd-c188="" type="password" formControlName="password" id="exampleInputPassword1" placeholder="{{'authorization.password' | translate}}" class="form-control form-control-lg ng-dirty ng-valid ng-touched">
          </div>

          <div class="form-check form-check-flat form-check-primary">
            <div class="row">
              <div class="col">
                <a routerLink="/reset/password">{{'authorization.login.forgot_password' | translate}}</a>
              </div>
              <div>
                <button (click)="signInWithFB()" type="button" class="btn btn-social-icon btn-facebook ml-auto"><i class="mdi mdi-facebook"></i></button>

              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-start-time mr-2" (click)="onSubmit()" [disabled]="!loginForm.valid">{{'authorization.submit' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>
</ng-container>
