<app-spinner filterBy="project/"></app-spinner>

<mat-dialog-content style="background: #fafbfe;">
  <ng-container *ngIf="project">
    <div class="row justify-content-center ">


      <div class="col-md-12 ">
        <form [formGroup]="projectForm" >

          <div class="form-row justify-content-center ">
            <div class="col-md-12 grid-margin stretch-card ">
              <div class="card ">
                <div class="card-body">

                  <mat-form-field class="w-100">
                    <mat-label>Category</mat-label>
                    <mat-select  [formControl]="categoryControl" required panelClass="category-panel" class="sss">
                      <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{category.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="categoryControl.hasError('required')">Please choose a category</mat-error>

                  </mat-form-field>
                </div></div></div>
            <div class="col-md-12 grid-margin stretch-card ">
              <div class="card">
                <div class="card-body">
                  <div class="input-group mt-3"  *ngFor="let lang of titleLangs">
                    <div class="input-group-prepend">

                      <span class="input-group-text bg-sss text-white" id="inputGroup-sizing-definition">Name on {{lang}}</span>
                    </div>
                    <input required [formControlName]="'title_' + lang" [placeholder]="(lang==='eng') ? 'Project name' : (lang==='rus') ? 'Название проекта' : 'Проекттың аты'" type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-definition">
                  </div>
                </div></div></div>


            <div class="col-md-12 grid-margin stretch-card ">
              <div class="card">
                <div class="card-body">
                  <div class="text-right">
                    <button [matMenuTriggerFor]="addLang" mat-icon-button  matTooltip="Add description on another language"
                            aria-label="Button that displays a tooltip when focused or hovered over">
                      <mat-icon>add</mat-icon>
                    </button>
                    <mat-menu #addLang="matMenu" xPosition="before">
                      <button mat-menu-item (click)="addDescription('rus')">Русский</button>
                      <button mat-menu-item (click)="addDescription('eng')">English</button>
                      <button mat-menu-item (click)="addDescription('kz')">Қазақша</button>
                    </mat-menu>
                  </div>
                  <mat-form-field *ngFor="let lang of descriptionLang;index as i" class="w-100" >
                    <mat-label>{{(lang=='eng')?'Brief description of the project':(lang=='rus')?'Краткое описание проекта':'Проекттың қысқа сипаттамасы'}}</mat-label>
                    <textarea [required]="i==0" formControlName="{{'description_' + lang}}" matInput
                    ></textarea>
                    <button *ngIf="i > 0" (click)="removeDescription(i)" matSuffix mat-icon-button  matTooltip="Remove description on this language"
                            aria-label="Button that displays a tooltip when focused or hovered over">
                      <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                  </mat-form-field>
                </div></div></div>

            <div class="col-md-6 grid-margin stretch-card ">
              <div class="card">
                <div class="card-body">
                  <mat-form-field class="w-100">
                    <mat-label>Choose a date</mat-label>
                    <input formControlName="deadline" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker color="warn" #picker></mat-datepicker>
                  </mat-form-field>

                </div></div></div>

            <div class="col-md-6 grid-margin stretch-card ">
              <div class="card">
                <div class="card-body">
                  <div class="input-group  ">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-sss text-white" id="inputGroup-sizing-def">Sum</span>
                    </div>
                    <input type="text" class="form-control" formControlName="goal" aria-label="Name" aria-describedby="inputGroup-sizing-def">
                  </div>
                </div></div></div>

            <div class="col-md-12 grid-margin stretch-card ">
              <div class="card">
                <div class="card-body">
                  <div class="text-right">
                    <button [matMenuTriggerFor]="addLangContent" mat-icon-button  matTooltip="Add content on another language"
                            aria-label="Button that displays a tooltip when focused or hovered over">
                      <mat-icon>add</mat-icon>
                    </button>
                    <mat-menu #addLangContent="matMenu" xPosition="before">
                      <button mat-menu-item (click)="addContent('rus')">Русский</button>
                      <button mat-menu-item (click)="addContent('eng')">English</button>
                      <button mat-menu-item (click)="addContent('kz')">Қазақша</button>
                    </mat-menu>
                  </div>
                  <p>Content</p>
                  <div class="row justify-content-start mb-2" *ngFor="let lang of contentLangs; index as i">
                    <editor class="col-11"  formControlName="{{'content_' + lang}}" [required]="i==0"
                            apiKey="sj3n4ofpyw6lj5xkfeaedah9jf36wvm5wtrge3i8acvowjuy"
                            [init]="{
                   menubar: true,
                   plugins: [
                     'advlist autolink lists link image charmap print preview anchor ',
                     'searchreplace visualblocks code fullscreen',
                     'insertdatetime media table paste code help wordcount image'
                   ],
                   toolbar:
                     'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat image | help'
                    }"
                            initialValue="vdava"
                    ></editor>
                    <button class="col-1" *ngIf="i > 0" (click)="removeContent(i)" matSuffix mat-icon-button  matTooltip="Remove content on this language"
                            aria-label="Button that displays a tooltip when focused or hovered over">
                      <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                  </div>
                </div></div></div>


            <div class="col-md-6 grid-margin stretch-card ">
              <div class="card">
                <div class="card-body">
                  <mat-form-field class="w-100">
                    <ngx-mat-file-input  (change)="ImageAddedEvent($event)" placeholder="Upload Images" multiple></ngx-mat-file-input>
                    <mat-icon matSuffix>image</mat-icon>
                  </mat-form-field>
                </div></div></div>

            <div class="col-md-6 grid-margin stretch-card ">
              <div class="card">
                <div class="card-body">
                  <mat-form-field class="example-full-width" class=" w-100">
                    <mat-label>Video</mat-label>
                    <input  formControlName="video" matInput placeholder="https://www.youtube.com/watch?v=KK9bwTlAvgo">
                    <mat-icon matSuffix>videocam</mat-icon>
                    <mat-hint>Add your youtube video</mat-hint>
                  </mat-form-field>
                </div></div></div>

            <div class="col-md-12 grid-margin stretch-card ">
              <div class="card">
                <div class="card-body">
                  <p>Reward</p>
                  <form [formGroup]="rewardForm" (keydown)="addReward($event)">
                    <div class="form-row justify-content-center">
                      <div class="input-group mb-3 col-md-6 grid-margin stretch-card ">
                        <div class="input-group-prepend">
                          <span class="input-group-text bg-sss text-white" id="inputGroup-sizing-d">Sum</span>
                        </div>
                        <input formControlName="sum" type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-d">
                      </div>
                      <div class="input-group mb-3 col-md-6 grid-margin stretch-card ">
                        <div class="input-group-prepend">
                          <span class="input-group-text bg-sss text-white" id="inputGroup-sizing">Description</span>
                        </div>
                        <input  formControlName="description" type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing">
                      </div>


                    </div>
                  </form>

                  <div class="row justify-content-center">
                    <div class="col-md-9 grid-margin stretch-card ">
                      <table class="table mt-md-3 ">
                        <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Sum</th>
                          <th scope="col">Description</th>
                          <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let gift of project.gifts; index as i">
                          <th scope="row">{{i + 1}}</th>
                          <td>{{gift.sum}}</td>
                          <td>{{gift.description}}</td>
                          <td>
                            <div class="row mt-md-2 text-center">
                              <div class=" d-flex ">
                                <button (click)="deleteReward(i)" mat-icon-button aria-label="Example icon button with a heart icon">
                                  <mat-icon>delete</mat-icon>
                                </button>

                              </div>

                            </div>
                        </tr>

                        </tbody>
                      </table>

                    </div>

                  </div>


                </div></div></div>

          </div>
        </form>

      </div>

    </div>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn w-25 btn-lg bg-sss text-light" mat-dialog-close (click)="onSubmitProjectForm()">Save</button>

</mat-dialog-actions>
