<app-spinner filterBy="users/all"></app-spinner>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body p-2 p-md-4">
        <h4 class="card-title">Пользователи</h4>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-sss text-white">Искать по имени</span>
                </div>
                <input [(ngModel)]="inputText" #input id="input"  type="text" class="form-control" aria-label="Text input with dropdown button">

              </div>
          </div>
          </div>
          <div class="col-lg-6 text-right">
            <button (click)="removeFilters()" type="button" class="btn btn-danger btn-rounded btn-icon" matTooltip="Убрать фильтры">
              <i class="mdi mdi-delete"></i>
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>
              </th>
              <th>
                Пользователь
              </th>
              <th>
                Почта
              </th>
              <th>
                Номер телефона
              </th>
              <th>
                Проекты
              </th>
              <th>
                <i class="mdi mdi-account-key "></i>
                Уровень доступа
              </th>
              <th>
                Действие
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <td class="py-1" >
                <a  target="_blank" >
                  <img *ngIf="!user.image" src="../../../../assets/images/11_0.png" alt="image">
                  <img *ngIf="user.image" [src]="user.image" alt="image">

                </a>
              </td>
              <td >{{user.getFullName()}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone_number}}</td>
              <td >
                <a  target="_blank" >
                  {{user.projects.length}}</a>
              </td>
              <td>
                <button [matMenuTriggerFor]="changeQuestion" mat-icon-button  matTooltip="Поменять Роль"
                >
                  {{(user.role===1) ? 'Модератор' : 'Пользователь'}}
                </button>
                <mat-menu #changeQuestion="matMenu" xPosition="before">
                  <button mat-menu-item (click)="changeRole(user, 1)">Модератор</button>
                  <button mat-menu-item (click)="changeRole(user, 4)">Пользователь</button>
                </mat-menu>
              </td>
              <td >
                <button (click)="openDialog(user)" mat-icon-button aria-label="Example icon button with a heart icon" class="ml-auto">

                  <i class="fas fa-edit mr-3" ></i></button>
              </td>

            </tr>
            </tbody>
          </table>
        </div>


      </div>
      <ngb-pagination class="d-flex justify-content-end" (pageChange)="changePage($event)" [ellipses]="true"  [collectionSize]="totalUsersCount" maxSize="5" [(page)]="page" [pageSize]="perPageCount" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

    </div>
  </div>

</div>
<div>

</div>
