
<ng-container *ngIf="product">

<div class="container-fluid mb-md-5">


  <div class="row mt-md-5 justify-content-center ">
    <div class="col-md-10  ">
      <div class="card">
        <div class="card-body">
          <h3>{{product.title}}</h3>
          <hr/>
          <p>{{product.description}}</p>
          <img>

          <div class="row justify-content-center">
            <div class="col-md-10 text-center">
              <ngx-slick-carousel  class="carousel" #slickModal="slick-carousel" [config]="slideConfig">

                <div ngxSlickItem *ngFor="let image of product.images" class="slide ">
                  <img class="m-auto" [src]="[image.url]" alt="" width="50%" height="400px">


                </div>

              </ngx-slick-carousel>
              <img class="m-auto" *ngIf="product.images.length===0" src="../../../../../../assets/images/5_0.png" width="50%" height="400px">

              <hr/>

            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-4 text-right border-right">
              <h2 class="display-5"> Sum: <span>{{product.cost}}tg</span></h2>
            </div>
            <div class="col-md-4"> <button class="btn btn-outline-secondary btn-lg">Order</button></div>
          </div>

        </div>
      </div>

    </div>



  </div>
</div>
</ng-container>
