<div class="container-scroller">
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex justify-content-center">
      <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
        <a class="navbar-brand brand-logo"><img src="../../../assets/images/30_0.png" alt="logo"></a>
        <a class="navbar-brand brand-logo-mini" ><img src="../../../assets/images/30_0.png" alt="logo"></a>
      </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <ul class="navbar-nav mr-lg-4 w-100">

        <li class="nav-item  d-none d-lg-block ">
          <a class="nav-link" routerLink="main">Главная <span class="sr-only">(current)</span></a>

        </li>
        <li class="nav-item  d-none d-lg-block">
          <a class="nav-link" routerLink="news">Новости</a>

        </li>
        <li class="nav-item  d-none d-lg-block ">
          <a class="nav-link" routerLink="contact">Связаться с нами</a>

        </li>
        <li class="nav-item  d-none d-lg-block ">
          <a class="nav-link " routerLink="about">О нас</a>

        </li>
        <li class="nav-item  d-none d-lg-block ">
          <a class="nav-link " routerLink="help">Помощь</a>

        </li>
        <li class="nav-item  d-none d-lg-block ">
          <a class="nav-link " routerLink="shop">Q-Shop</a>
        </li>
      </ul>
      <div id="auth" class="ml-auto row auth " >
        <div class="col-2">
          <a  routerLink="create" style="color: inherit">
            <i class="fas fa-home fa-plus fa-lg"></i>
          </a>
        </div>
        <div class="col-2"><a routerLink="profile" style="color: inherit"><i class="fas fa-home fa-lg" ></i></a></div>
        <div class="col-3">



          <a class="dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="badge badge-danger">12</span>
            <i class="fas fa-bell fa-lg"></i>

          </a>
          <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary  shadow-lg keep-open p-3  " style="height: 300px" aria-labelledby="navbarDropdownMenuLink-5">


            <div class="dropdown-item " style="width:700px;background-color: white">
              <ul class="nav nav-tabs  ">
                <li class="nav-item">
                  <a class="nav-link " [ngClass]="{active: num==1}"  (click)="changeClass(1)">Bakers <span class="badge badge-danger ml-2 ">1</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{active: num==2}" (click)="changeClass(2)">Questions <span class="badge badge-danger ml-2 ">1</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{active: num==3}" (click)="changeClass(3)" >Comments <span class="badge badge-danger ml-2 ">4</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{active: num==4}"  (click)="changeClass(4)">Likes <span class="badge badge-danger ml-2 ">4</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{active: num==5}"  (click)="changeClass(5)" >News <span class="badge badge-danger ml-2 ">2</span></a>
                </li>
              </ul>

            </div>
            <div class="mt-2" [ngStyle]="{display: (num==1)?'block':'none' }" id="bakers">
              New baker!
            </div>
            <div class="mt-2" [ngStyle]="{display: (num==2)?'block':'none' }"  id="question">
              New question!

            </div>
            <div class="mt-2" [ngStyle]="{display: (num==3)?'block':'none' }" id="comment">
              New comment!
              <hr/>
              Another comment!
              <hr/>
              Another comment!
              <hr/>
              Another comment!

            </div>
            <div class="mt-2" [ngStyle]="{display: (num==4)?'block':'none' }" id="like">
              New like!
              <hr/>
              Another like!
              <hr/>
              Another like!
              <hr/>
              Another like!

            </div>
            <div class="mt-2" [ngStyle]="{display: (num==5)?'block':'none' }" id="news">
              News!
              <hr/>
              Another news!

            </div>


          </div>
        </div>
        <div class="col-3">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Archet
            </button>
            <div class="dropdown-menu  dropdown-secondary shadow-lg keep-open"  aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="Logout()">Logout</a>
            </div>
          </div>
        </div>


      </div>


      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"  type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
    <div class="navbar-brand-wrapper d-flex justify-content-center">
      <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100 border-0">

      </div>
    </div>

    <div class="navbar-menu-wrapper d-flex justify-content-center">
      <div class="container">
        <div class="row">
          <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
              <div class="item">
                 <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 1 <span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 2<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                 <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 3<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                 <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 4<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                 <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 5<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                 <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 6<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 7<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 8<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                 <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 9<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 10<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 11<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                 <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 12<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 13<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 14<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 15<span class="sr-only">(current)</span></a>
  </span>
              </div>
              <div class="item">
                 <span class="navbar-text">
            <a class="nav-link" routerLink="category">Category 16<span class="sr-only">(current)</span></a>
  </span>
              </div>
            </div>
            <!--            <i class="fas fa-angle-left leftLst"></i>-->
            <button class="leftLst"><i class="fas fa-angle-left "></i></button>
            <button class="rightLst"><i class="fas fa-angle-right  "></i></button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid page-body-wrapper">
    <nav    class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link al"  routerLink="main">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link al" id="s1" routerLink="news">Новости</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Связаться с нами</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="about">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="help">Помощь</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="shop">Q-Shop</a>
        </li>

      </ul>
    </nav>

    <div class="main-panel">
      <div class="content-wrapper">

        <router-outlet></router-outlet>
      </div>
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>





  <!--    <router-outlet></router-outlet>-->


</div>





