<div class="card  shadow" >
  <ng-container *ngIf="project.images">

    <img class="card-img-top m-auto  project-img" *ngIf="project.images[0]" [src]="project.images[0].image" style="max-width: 100%; max-height: 100%" alt="Card image cap">
  </ng-container>

  <img class="card-img-top m-auto  project-img" *ngIf="!project.images[0]" src="../../../../../assets/images/32_0.png" style="max-width: 100%; max-height: 100%" alt="Card image cap">
  <div class="card-body p-3 h-50">
    <div class="h-50 ">
      <h6 class="card-title text-center h-50 overflow-auto"><a [routerLink]="['/project/details', project.id]" >
        {{(translate.currentLang === 'rus') ? project.title_rus : (translate.currentLang == 'eng') ? project.title_eng: project.title_kz}}</a></h6>
      <hr/>
    </div>
    <div class="h-25">
      <div class="row">
        <div class="col d-flex ">
          <button mat-icon-button aria-label="Example icon button with an eye icon">
            <mat-icon>remove_red_eye</mat-icon>
            <span>{{project.views}}</span>
          </button>
        </div>
        <div class="col d-flex ">
          <button mat-icon-button aria-label="Example icon button with a heart icon" class="ml-auto">
            <mat-icon *ngIf="!project.liked" (click)="like()">favorite_border</mat-icon>
            <mat-icon *ngIf="project.liked" (click)="unlike()">favorite</mat-icon>
            <span>{{project.likes.length}}</span>
          </button>

        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-sss" role="progressbar" [ngStyle]="{width: (project.gathered/project.goal)*100 + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

    </div>
    <div class="row mt-2 h-25">
      <div class="col-7">
        <h4 class="text-start-time"><span class="text-muted">{{'project.gathered' | translate}}:</span> ₸{{(project.gathered).toLocaleString()}}</h4>
      </div>
      <div class="col-5 p-0">
        <h4 *ngIf="project.active!=2" class="text-muted text-center">{{daysLeft(project)}} <span >{{'project.days' | translate}}</span></h4>
        <h6 class="text-muted text-center" *ngIf="project.active==2"><span>{{'project.end' | translate}}</span></h6>

      </div>
    </div>

  </div>
</div>
