/* You can add global styles to this file, and also import other style files */
/*@import '~ngx-sharebuttons/themes/default/default-theme.scss';*/
.cdk-overlay-container {
  z-index: 9999 !important;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke:  #009E74!important;
}
html { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.style-success .mat-simple-snackbar-action  {
  color: white;
}
.style-success {
  color: white;
  background-color: #009E74;
}
.style-warn .mat-simple-snackbar-action  {
  color: white;
}
.style-warn {
  color: white;
  background-color: darkorange;

}

.style-error .mat-simple-snackbar-action {
  color: orangered;
}
.style-error {
  color: white;
  background-color: #dd2c00;
}



.dates{
  background: #009E74;
}
.bg-sss{
  background-color: #009E74;
}
.border-sss{
  border-left: solid 10px #009E74;

}
a{
  color:inherit;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 1.875rem;
}

@media (max-width: 991px) {
  .display-4 {
    font-size: 1.5rem;
  }
}
.display-5 {
  font-size: 1.25rem;
}

@media (max-width: 991px) {
  .display-5 {
    font-size: 1rem;
  }
}
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}


.sb-facebook{
  color: #4267B2;
}
.sb-twitter{
  color: #00acee;
}
.sb-whatsapp{
  color: #25d366;
}
.sb-telegram{
  color:#0088cc
}
.sb-vk{
  color:#4C75A3;
}
.sb-circles-dark .sb-wrapper{
  background: transparent;
  min-width: unset;
  height: unset;
}
.sb-wrapper {
  font-family: Roboto,sans-serif;
}

.sb-wrapper {
  cursor: pointer;
  position: relative;
  outline: 0;
  border: none;
  border-radius: 1px;
  padding: 0;
  line-height: 2.571em;
  -webkit-print-color-adjust: exact;
}

.cdk-overlay-pane{
  max-width: 95vw!important;
}

.btn-starttime-light {
  color: #212529;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-starttime-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-starttime-green {
  color: #ffffff;
  background-color: #009E74;
  border-color: #009E74;
}

.btn-starttime-green:hover {
  color: #ffffff;
  background-color: #098967;
  border-color: #049C74;
}
