<app-spinner filterBy="news"></app-spinner>

<ng-container *ngIf="news">

<div class="row justify-content-center">
  <div class="col-md-11 grid-margin stretch-card">
    <div class="card ">
      <div class="card-body">
        <h2 class="display-5" >{{news.title}}</h2>
        <hr/>
        <h3>{{news.description}}</h3>
        <ngx-slick-carousel  class="carousel" #slickModal="slick-carousel" [config]="slideConfig">

          <div ngxSlickItem *ngFor="let image of news.images" class="slide ">
            <img class="m-auto" [src]="[image.image]" alt="" style="max-width: 80%;max-height: 80%;">


          </div>

        </ngx-slick-carousel>
        <div>{{news.content}}</div>
      </div>


    </div>
  </div>
</div>
  <div class=" row justify-content-center">
    <div class="col-11 col-md-8 grid-margin stretch-card ">
      <div class="card">
        <div class="card-body">

          <form [formGroup]="commentForm"  class="forms-sample">
            <mat-form-field class="example-full-width w-100">
              <mat-label>{{'project.comment.text' | translate}}</mat-label>
              <textarea formControlName="description" matInput ></textarea>
            </mat-form-field>
            <div class="text-right">
              <button type="submit" class="btn btn-outline-google " (click)="addComment()">{{'project.comment.add' | translate}}</button>
            </div>
          </form>


        </div>
      </div>
    </div>

  <app-auth-news-comment class="col-12 col-md-8 grid-margin stretch-card " *ngFor="let comment of comments" [comment]="comment"></app-auth-news-comment>
  </div>


</ng-container>
