
<div class=" row justify-content-center mt-3">

  <div class="col-12 col-md-10 grid-margin stretch-card " *ngIf="!isOwnerOfProject">
    <div class="card">
      <div class="card-body">

        <form class="forms-sample" [formGroup] = "questionForm">
          <mat-form-field class="example-full-width w-100">
            <mat-label>{{'project.question.text' | translate }}</mat-label>
            <textarea formControlName="question" matInput placeholder="{{'project.question.text' | translate }}"></textarea>
          </mat-form-field>
          <div class="text-right">
            <button type="submit" class="btn btn-outline-google " (click)="addQuestion()">{{'project.question.add' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>

    <app-auth-question-entity class="col-12 col-md-10 grid-margin stretch-card " *ngFor="let question of questions" [question]="question"></app-auth-question-entity>




</div>

