<div class=" container-fluid  mb-md-5">

    <div class="row mt-md-5 justify-content-center">
      <div class="col-7 col-md-7 bg-light rounded-lg">

          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner ">
              <div class="carousel-item active paddingDiv" routerLink="/user/project/details">
                <img class="d-block " src="../../../../assets/images/" width="100%" height="500px" alt="First slide">
              </div>
              <div class="carousel-item paddingDiv"   routerLink="/user/project/details">
                <img class="d-block " src="../../../../assets/images/"  width="100%" height="500px" alt="Second slide">
              </div>
              <div class="carousel-item paddingDiv" routerLink="/user/project/details" >
                <img class="d-block "  width="100%" src="../../../../assets/images/" height="500px" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>


      </div>
      <div class="col-3 col-md-3 ml-md-3 rounded-lg">
        <div class="row h-50  ">
          <div class="col-md-12 mb-md-4 rounded-lg bg-light">
          </div>
        </div>
        <div class="row h-50 ">
          <div class="col-md-12 rounded-lg bg-light">

          </div>
        </div>
      </div>
    </div>
    <div class="row mt-md-5 justify-content-center">
      <div class="col-7 col-md-7 rounded shadow-lg">
        <div class="p-md-3">
          <div class="row ">
            <div class="col-4">
              <h4 ><strong>Start Time </strong>поддерживает</h4>

            </div>

          </div>
          <div class="row justify-content-center mt-md-5">
            <div class="col-4 text-center paddingDiv" routerLink="/user/category">
              <img src="../../../../assets/images/31_0.png" width="100" height="100">

              <h5>Благотворительные проекты</h5>
            </div>
            <div class="col-4 text-center paddingDiv" routerLink="/user/category">
              <img src="../../../../assets/images/15_0.png" width="100" height="100">

              <h5>Социальные проекты</h5>

            </div>
            <div class="col-4 text-center paddingDiv" routerLink="/user/category">
              <img src="../../../../assets/images/5_0.png" width="100" height="100">
              <h5>Коммерческие проекты</h5>

            </div>

          </div>
        </div>
      </div>
      <button class=" col-3 col-md-3 ml-md-3  shadow-lg rounded btn btn-outline-secondary " routerLink='/user/create'><h2>Начать проект!</h2></button>

    </div>


  <div class="row mt-md-5 justify-content-center pt-md-5">
    <div class="col-md-2 text-center">
      <div class="p-md-5 bg-light rounded-lg">
        <h1>???</h1>
        <p>проектов</p>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

      </div>

    </div>
    <div class="col-md-2 text-center">
      <div class="p-md-5 bg-light rounded-lg">
        <h1>???</h1>
        <p>стартапов</p>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>


      </div>

    </div>
    <div class="col-md-2 text-center">
      <div class="p-md-5 bg-light rounded-lg">
        <h1>???</h1>
        <p>сделок</p>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>






  <div class="row justify-content-center mt-md-5 pt-md-5">
    <div class="col-md-7">
      <h4>Наши партнеры</h4>

    </div>
    <div class="col-md-3">

    </div>
  </div>
  <div class="row justify-content-center mt-md-5 pt-md-5">
    <div class="col-md-1 p-md-5 ">
      <div class="p-md-5 bg-light paddingDiv"  routerLink="/user/partners"></div>
    </div>
    <div class="col-md-1 p-md-5 ">
      <div class="p-md-5 bg-light paddingDiv"  routerLink="/user/partners"></div>
    </div>
    <div class="col-md-1 p-md-5 ">
      <div class="p-md-5 bg-light paddingDiv"  routerLink="/user/partners"></div>
    </div>
    <div class="col-md-1 p-md-5 ">
      <div class="p-md-5 bg-light paddingDiv"  routerLink="/user/partners"></div>
    </div>
    <div class="col-md-1 p-md-5 ">
      <div class="p-md-5 bg-light paddingDiv"  routerLink="/user/partners"></div>
    </div>
    <div class="col-md-1 p-md-5 ">
      <div class="p-md-5 bg-light paddingDiv"  routerLink="/user/partners"></div>
    </div>

  </div>


  <div class="row justify-content-center mt-md-5 pt-md-5">
    <div class="col-md-7">
      <h4 >Q-SHOP</h4>

    </div>
    <div class="col-md-3">

    </div>
  </div>
  <div class="row justify-content-center mt-md-5 ">
    <div class="col-md-2">
      <div class="card" >
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" routerLink="/user/productDetail">See</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" >
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" routerLink="/user/productDetail">See</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" >
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" routerLink="/user/productDetail">See</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" >
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" routerLink="/user/productDetail">See</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" >
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary" routerLink="/user/productDetail">See</a>
        </div>
      </div>
    </div>


  </div>
  <div class="row justify-content-center mt-md-5 pt-md-5  ">
    <div class="col-md-4 ">
      <div class="p-md-5">
        <p>ОБЗОР STARTTIME</p>
        <form>
          <div class="form-row align-items-center">

            <div class="col-auto">
              <label class="sr-only" for="inlineFormInputGroup">Username</label>
              <div class="input-group mb-md-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
              </div>
            </div>

            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-md-2">Подписаться</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


